@@include('template-parts/head.php')

        @@include('template-parts/header.php')

        @@include('template-parts/news.php')

        @@include('template-parts/prices.php')

        <!-- Теxt-block -->
        <div class="container mt-100">
            <div class="row">
                <div class="col-lg-8 col-md-8 col-sm-8">
                    <p data-animate="flipInY" data-delay="300*index" data-group="1">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor in cididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
                    <p data-animate="flipInY" data-delay="300*index" data-group="1">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation. Quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
                </div>

                <div class="col-lg-4 col-md-4 col-sm-4">
                    <div class="sub-heading" data-animate="fadeInRight" data-group="1">Наши преимущества</div>
                    <ul class="list custom-bullets">
                        <li data-animate="fadeInRight" data-delay="300*index" data-group="2"><span class="bullet"></span>Effective problem solver</li>
                        <li data-animate="fadeInRight" data-delay="300*index" data-group="2"><span class="bullet"></span>Tactful and patient communicator</li>
                        <li data-animate="fadeInRight" data-delay="300*index" data-group="2"><span class="bullet"></span>Good team player</li>
                        <li data-animate="fadeInRight" data-delay="300*index" data-group="2"><span class="bullet"></span>Loyal to the company</li>
                        <li data-animate="fadeInRight" data-delay="300*index" data-group="2"><span class="bullet"></span>Success motivated</li>
                        <li data-animate="fadeInRight" data-delay="300*index" data-group="2"><span class="bullet"></span>Creative & hard working</li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 padding-minus-bottom">
                    <p data-animate="flipInY" data-delay="300*index" data-group="1">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor in cididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.</p>
                </div>
            </div>
        </div>


        @@include('template-parts/messageAfter.php')

        @@include('template-parts/order.php')

        @@include('template-parts/feedbacks-img.php')


        <article class="txt bb"> <div class="wrapper"> <p>Микроблейдинг – это косметическая услуга, направленная на создание идеальных бровей при помощи красящих элементов. Выполняется за счет нанесения под кожу пигмента, подчеркивающего лучшие стороны лица и скрывающего недостатки. Процедура завоевала огромную популярность, её охотно заказывают звезды, представители бизнеса, модели и политики. Вы тоже можете воспользоваться услугой и избавиться от:</p> <ul> <li>чрезмерного количества натуральных волосков;</li> <li>необходимости тратить время на ежедневное подкрашивание верхней части лица;</li> <li>проблем, связанных с асимметрией или дефицитом волосяного покрова.</li> </ul> <p>Хороший микроблейдинг бровей способен скрыть шрамы и рубцы, и что важно, выполняется согласно пожеланиями заказчика. Клиент определяет каждую деталь будущего облика, включая цвет волосков, длину, форму, расположение и толщину.</p> <h2>О процедуре микроблейдинга</h2> <p>Специалисты выделяют следующие разновидности микроблейдинга бровей: метод манекенного нанесения и восточный татуаж.</p> <p>В основе первого метода лежит создание волосков одинаковой длины, толщины и цвета. Элементы рисунка наносятся на фиксированном расстоянии друг от друга и образовывают густые, объемные брови. (Смотрите на <a href="#galery">фото</a> ниже)</p> <p>Восточный метод микроблейдинга сложнее, так как он предусматривает создание волос разной длины, формы и даже цвета. При этом, каждая деталь рисунка должна гармонично вписываться в композицию, образуя естественную и приятную глазу картину.</p> <p>Любые разновидности микроблейдинга выполняются по следующей схеме – клиент:</p> <ul> <li>обсуждает с мастером свои пожелания;</li> <li>проходит процедуру дезинфекции и анестезии;</li> <li>ждет окончания операции (она длится 1-1.5 часа);</li> <li>получает консультации касательно дальнейшего ухода.</li> </ul> <h2>Микроблейдинг и его преимущества</h2> <p>Воспользуйтесь моими услугами, так как я:</p> <ul> <li>имею много <a href="#feed">отзывов</a>, с которыми вы можете ознакомиться.</li> <li>работаю без <a href="#prices">наценок;</a></li> <li>несколько раз повышала свою квалификацию, посмотрите мои <a href="#certificate">сертификаты;</a></li> <li>использую современное оборудование;</li> <li>поддерживаю хирургическую чистоту;</li> <li>гарантирую замечательный результат.</li> </ul> <p>Мои клиенты могут рассчитывать на индивидуальный подход, отличный сервис, комфортабельные условия и отсутствие неприятных сюрпризов. Уверяю, вам понравится выполненный мной микроблейдинг бровей. Один из лучших мастеров бровей северной столицы сделает все, чтобы ваши брови стали идеальными!</p> </div> </article>




        @@include('template-parts/footer.php')

        @@include('template-parts/offer.php')

        @@include('template-parts/popup-form.php')

@@include('template-parts/bottom.php')