@@include('template-parts/head.php')
    @@include('template-parts/header.php')

    @@include('template-parts/breadcrumbs.php')



    @@include('template-parts/galery-new.php')

<section id="my-blog" class="padding-bottom text-center pt-50"> <div class="section-heading mb-50" data-animate="bounceIn">Цена</div> <div class="container"> <div class="blog padding-tiny-bottom"> <div class="blog-post on-the-left" itemscope itemtype="http://schema.org/Product"> <div class="group clearfix" data-animate="fadeInRight" data-group="1" itemprop="offers" itemscope itemtype="http://schema.org/Offer"> <div class="image"> <img itemprop="image" src="img/bg_1.jpg" alt="межресничный татуаж глаз"/> </div> <span class="sale">АКЦИЯ</span> <div class="info"> <div class="arrow"></div> <div class="stats clearfix"> <div class="stat uppercase" data-animate="fadeInUp" data-delay="300*index+300" data-group="4"><i class="fa fa-clock-o"></i> 2.5 часа </div> <div class="stat uppercase" data-animate="fadeInUp" data-delay="300*index+300" data-group="4"> <i class="fa fa-rub"></i> 2500 руб. </div> <meta itemprop="price" content="2500"> <meta itemprop="priceCurrency" content="RUB"> </div> <a href="#" class="button button-small button-inverted js-open-popup" data-animate="fadeInUp" data-delay="1200" data-group="3"> Записаться </a> </div> </div> <div class="content"> <div itemprop="name" class="sub-heading" data-animate="flipInY" data-delay="300" data-group="2"> Межресничка </div> <div itemprop="description" data-animate="flipInY" data-delay="600" data-group="2"> <p>Перманент делает глаза выразительными, а взгляд &#8211; глубоким, производит эффект длинных и пушистых ресниц.</p> </div> </div> </div> </div> </div>


 </section>

 @@include('template-parts/title.php')

<section class="prices" id="prices" itemscope itemtype="http://schema.org/Table">
    <div class="wrapper">
        <div id="pricing" class="prices__title text-center">
            <h1 class="section-heading" data-animate="bounceIn" itemprop="about">
                Цены на услуги татуажа
            </h1>
        </div>
        <table>
            <thead>
                <tr>
                    <th>Услуга</th>
                    <th>Стоимость</th>
                </tr>
            </thead>
            <tbody>

                <tr class="prices__main">
                    <td><a  href="<?php echo get_page_link(370);?>">Брови</a>:</td>
                    <td></td>
                </tr>

                <tr>
                    <td class="pl-30">
                        <a href="<?php echo get_page_link(690);?>">
                            Ручная техника - Микроблейдинг 6Д
                        </a>
                    </td>
                    <td>
                        <?php the_field( "price", 690 ); ?>
                        руб.
                        <?php
                           $stock =  get_field( "stock", 690  );
                            if( $stock == 1 ){
                        ?>
                                <span class="sale">АКЦИЯ</span>
                        <?php }?>
                    </td>
                </tr>

                <tr>
                    <td class="pl-30">
                        <a href="<?php echo get_page_link(687);?>">
                            Теневая техника - «пудровые» брови, мягкая растушевка
                        </a>
                    </td>
                    <td>
                        <?php the_field( "price", 687 ); ?>
                        руб.
                        <?php
                           $stock =  get_field( "stock", 687  );
                            if( $stock == 1 ){
                        ?>
                                <span class="sale">АКЦИЯ</span>
                        <?php }?>
                    </td>
                </tr>
                <tr>
                    <td class="pl-30">
                        <a href="<?php echo get_page_link(688);?>">
                            Волосковая техника
                        </a>
                    </td>
                    <td>
                        <?php the_field( "price", 688 ); ?>
                        руб.
                        <?php
                           $stock =  get_field( "stock", 688  );
                            if( $stock == 1 ){
                        ?>
                                <span class="sale">АКЦИЯ</span>
                        <?php }?>
                    </td>
                </tr>
                <tr>
                    <td class="pl-30">
                        Комбинированная техника (волоски + растушевка)
                    </td>
                    <td>4000 руб.</td>
                </tr>

                <tr>
                    <td class="pl-30">
                        Комбинированная ручная техника (волоски + растушевка)
                    </td>
                    <td>5000 руб.</td>
                </tr>

                <tr class="prices__main">
                    <td>
                        <a  href="<?php echo get_page_link(385);?>">
                            Глаза (Веки)</a>:
                    </td>
                    <td>

                    </td>
                </tr>
                <tr>
                    <td class="pl-30">
                        <a href="<?php echo get_page_link(691);?>">
                            Межресничное пространство (эффект пушистых ресниц)
                        </a>
                    </td>
                    <td>
                        <?php the_field( "price", 691 ); ?>
                        руб.
                        <?php
                           $stock =  get_field( "stock", 691  );
                            if( $stock == 1 ){
                        ?>
                                <span class="sale">АКЦИЯ</span>
                        <?php }?>
                    </td>
                </tr>
                <tr>
                    <td class="pl-30">
                        <a href="<?php echo get_page_link(692);?>">
                            Стрелочка + межресничное пространство
                        </a>
                    </td>
                    <td>
                        <?php the_field( "price", 692 ); ?>
                        руб.
                        <?php
                           $stock =  get_field( "stock", 692  );
                            if( $stock == 1 ){
                        ?>
                                <span class="sale">АКЦИЯ</span>
                        <?php }?>
                    </td>
                </tr>


                <tr class="prices__main">
                    <td>
                        <a  href="<?php echo get_page_link(372);?>">
                            Губы</a>:
                    </td>
                    <td>
                        <?php
                           $stock =  get_field( "stock", 672  );
                            if( $stock == 1 ){
                        ?>
                                <span class="sale">АКЦИЯ</span>
                        <?php }?>
                    </td>
                </tr>
                <tr>
                    <td class="pl-30">
                        <a href="<?php echo get_page_link(693);?>">
                           Контур с растушевкой
                        </a>
                    </td>
                    <td>
                        <?php the_field( "price", 693 ); ?>
                        руб.
                        <?php
                           $stock =  get_field( "stock", 693  );
                            if( $stock == 1 ){
                        ?>
                                <span class="sale">АКЦИЯ</span>
                        <?php }?>
                    </td>
                </tr>
                <tr>
                    <td class="pl-30">
                        <a href="<?php echo get_page_link(694);?>">
                           3D объем
                        </a>
                    </td>
                    <td>
                        <?php the_field( "price", 694 ); ?>
                        руб.
                        <?php
                           $stock =  get_field( "stock", 694  );
                            if( $stock == 1 ){
                        ?>
                                <span class="sale">АКЦИЯ</span>
                        <?php }?>
                    </td>
                </tr>
                <tr>
                    <td class="pl-30">
                        <a href="<?php echo get_page_link(695);?>">
                           Акварельная техника
                        </a>
                    </td>
                    <td>
                        <?php the_field( "price", 695 ); ?>
                        руб.
                        <?php
                           $stock =  get_field( "stock", 695  );
                            if( $stock == 1 ){
                        ?>
                                <span class="sale">АКЦИЯ</span>
                        <?php }?>
                    </td>
                </tr>
                <tr>
                    <td class="pl-30">
                        <a href="<?php echo get_page_link(696);?>">
                           Эффект помады - полное заполнение
                        </a>
                    </td>
                    <td>
                        <?php the_field( "price", 696 ); ?>
                        руб.
                        <?php
                           $stock =  get_field( "stock", 696  );
                            if( $stock == 1 ){
                        ?>
                                <span class="sale">АКЦИЯ</span>
                        <?php }?>
                    </td>
                </tr>
                <tr>
                    <td class="pl-30">
                        <a href="<?php echo get_page_link(697);?>">
                           Мушка
                        </a>
                    </td>
                    <td>
                        <?php the_field( "price", 697 ); ?>
                        руб.
                        <?php
                           $stock =  get_field( "stock", 697  );
                            if( $stock == 1 ){
                        ?>
                                <span class="sale">АКЦИЯ</span>
                        <?php }?>
                    </td>
                </tr>
                <tr class="prices__main">
                    <td>
                        Другое:
                    </td>
                    <td>

                    </td>
                </tr>
                <tr>
                    <td class="pl-30">
                        <a href="<?php echo get_page_link(698);?>">
                           Коррекция татуажа
                        </a>
                    </td>
                    <td>
                        <?php the_field( "price", 698 ); ?>
                        руб.
                        <?php
                           $stock =  get_field( "stock", 698  );
                            if( $stock == 1 ){
                        ?>
                                <span class="sale">АКЦИЯ</span>
                        <?php }?>
                    </td>
                </tr>
                <tr>
                    <td class="pl-30">
                        <a href="<?php echo get_page_link(701);?>">
                           Рефреш (обновление цвета)
                        </a>
                    </td>
                    <td>
                        <?php the_field( "price", 701 ); ?>
                        руб.
                        <?php
                           $stock =  get_field( "stock", 701  );
                            if( $stock == 1 ){
                        ?>
                                <span class="sale">АКЦИЯ</span>
                        <?php }?>
                    </td>
                </tr>

                 <tr>
                    <td class="pl-30">
                        Консультация
                    </td>
                    <td>бесплатно!</td>
                </tr>

            </tbody>
        </table>
    </div>
</section>

    <div class="txt bb">
        <div class="wrapper">
            <div class="line">
                <div class="col-8 col-s-12 p-20">
                    <p>
                        Мы уверены, что основаная часть любого успеха заключается в людях. Поэтому мы стремимся к тому, чтобы в нашей   команде работали настоящие профессионалы своего дела, а кроме того вежливые и приветливые сотрудники. Мы уделяем большое внимание обучению и профессиональному росту наших мастеров, так как знаем, что от качества их работы зависит комфорт и удовлетворённость наших клиентов.
                    </p>
                    <p>
                        Мы предлагаем полностью официальное трудоустройство с «белой зарплатой», а также полный социальный пакет с конкурентной заработной платой. На данный момент наш штат полностью укомплектован, однако, если вы хотите стать частью нашей команды и считаете, что обладаете необходимыми нам навыками и качествами, вы можете отправить своё резюме на адрес нашей электронной почты:
                    </p>
                    <p>
                        info@master-tatuazha.ru
                    </p>
                    <p>
                        Спасибо! Следите за обновлениями!
                    </p>
                </div>
                <div class="col-4 col-s-12 tac">
                    <i class="fa fa-users" aria-hidden="true"></i>
                </div>
            </div>
        </div>
    </div>


<h1>Здравствуйте, милые девушки!</h1>

<p>
    Меня зовут Васильева Наталья.
</p>
<p>
    Рада предложить вам свои услуги! :)
</p>

<p>
    В сфере красоты я работаю уже 5 лет.
    Начинала с визажа - 4 года красила невест. Параллельно занималась наращиванием ресничек.
    Однако со временем меня стала огорчать недолговечность моих трудов :) Так я плавно и гармонично пришла к татуажу :))
</p>

<p>
    Мои отличительные особенности:
</p>

<ul>
    <li>
        Использую только материалы премиум-класса;
    </li>
    <li>
        Строго слежу за безопасностью и санитарными нормами;
    </li>
    <li>
        Гарантирую индивидуальный подход и качественный результат.
    </li>
</ul>

<p>
    Жду вас в гости, чтобы выполнить безболезненный татуаж при помощи передовых техник микропигментирования.
</p>

<p>
    Красота спасет мир. Подчеркните свою красоту!!! ;)
</p>
<p>
    <b>Консультация бесплатно!!!</b> 8-963-033-15-52
</p>




    @@include('template-parts/map.php')
    @@include('template-parts/footer.php')
    @@include('template-parts/bottom.php')