/*
//start adoptive
//VARIABLES
$resolution-mobile:640px;
$wrapper-width-mobile:320px;
$resolution-tablet:980px;
$wrapper-width-tablet:620px;

// TABLET
@media (max-width: $resolution-tablet) and (min-width: $resolution-mobile)
{

        // COMMON

        .col-m-1 {
          width: 8.33333333%;
        }
        .col-m-2 {
          width: 16.66666667%;
        }
        .col-m-3 {
          width: 25%;
        }
        .col-m-4 {
          width: 33.33333333%;
        }
        .col-m-5 {
          width: 41.66666667%;
        }
        .col-m-6 {
          width: 50%;
        }
        .col-m-7 {
          width: 58.33333333%;
        }
        .col-m-8 {
          width: 66.66666667%;
        }
        .col-m-9 {
          width: 75%;
        }
        .col-m-10 {
          width: 83.33333333%;
        }
        .col-m-11 {
          width: 91.66666667%;
        }
        .col-m-12 {
          width: 100%;
        }

        .wrapper
        {
            width:  $wrapper-width-tablet;
        }

        .row{
            margin: 0;
        }

        //HEADER

        .header{
            min-width: $wrapper-width-tablet;
            text-align: center;
            padding: 0;


            .main-nav{
                margin-bottom: 10px;
            }

            .logo{
                float: none;
            }

            &-tel{
                font-size: 18px;
            }

            .tel-btn{
                float: none;
                display: block;
                padding:0 80px 35px 80px;
                &__tel{
                    float: right;
                     margin-right: 25px;
                }
                &__btn{
                    float: left;
                    margin-left: 20px;
                }
            }

        }

        //BODY
        .look{
            min-width: $wrapper-width-tablet;
            background-position-x: -600px;
            margin-top: 130px;
        }

        .advantages{
            min-width: $wrapper-width-tablet;
            padding: 50px 0;
            &__item-txt{
                width: auto;
            }
        }

        .img-wrap-post{
              img{
                width: 500px;
              }
        }


        .numbers{
            min-width: $wrapper-width-tablet;
            padding: 30px 0;
            &__number{
                font-size: 60px;
                margin-bottom: 0;
            }
        }

        .feedbacks{
            min-width: $wrapper-width-tablet;
            padding: 50px 0 0 0;
            &-list__txt{
                width: 250px;
            }

            &-list__img{
                margin-right: 20px;
            }
        }

        .owl-carousel .owl-item img {
            max-height: 150px;
            max-width: 150px;
        }

        .owl-nav{
            top: 20%;
        }

        .owl-prev {
            left: 35px;
        }

        .owl-next{
            right: 35px;
        }

        .owl-dots{
            bottom: 50px;
            position: absolute;
            margin: auto;
            left: 0;
            right: 0;
        }

        .order{
            min-width: $wrapper-width-tablet;
        }

        .prices{
            .prices__del{

                transform: translateX(0);
                del{
                    &:before{
                        top: 12px;
                    }
                    display: block;
                }
            }

            .sale{
                left:50px;
            }
        }


        .steps{
            min-width: $wrapper-width-tablet;
            padding: 30px 0;

            &__txt{
                width: auto;
            }

            .step{
                 &:before{
                    left: 0;
                }
            }

            .step--one{
                &:after{
                    border-left: 40px solid  rgba(194,151,58,0.6);
                }
            }
            .step--two{
                &:after{
                    border-left: 40px solid  rgba(194,151,58,0.6);
                }
            }
        }

        .duality{
            min-width: $wrapper-width-tablet;
            &__bg{
                &:before{
                    width: 100px;
                    height: 99px;

                }
                &:after{
                    width: 130px;
                    height: 125px;
                    left: 0;
                    top: 100px;
                }
            }
        }

        .about-team{
            min-width: $wrapper-width-tablet;
            ul {
                span{
                    font-size: 10px;
                }
                p{
                    font-size: 9px;
                }
            }
        }

        .form-extra{
            min-width: $wrapper-width-tablet;
            div.wpcf7 img.ajax-loader {
                display: block;
            }

            form div.wpcf7-validation-errors{
                color: $dark-sky-blue;
            }
        }

        .service-menu{
            min-width: $wrapper-width-tablet;

            &__link p{
                font-size: 16px;
            }

            &__link--first{
                background-position-x: -140px;
            }

            &__link--second{
                background-position-x: -180px;
            }

            &__link--third{
                background-position-x: -130px;
            }

            &__link--fourth{
                background-position-x: -230px;
            }

        }

        .service-txt{
            min-width: $wrapper-width-tablet;
        }

        .faq{
             min-width: $wrapper-width-tablet;
             &__title{
                font-size: 25px;
                margin-bottom: 32px;
             }

             li{
                padding-right: 10px;
                width: 100%;
                &:before{
                    display: none;
                }
             }

             &__a{
                padding-left: 0;
             }

             &__q p{
                font-size: 15px;
             }

        }

        .feedbacks-all{
            min-width: $wrapper-width-tablet;
            ul{
                width: 100%;
            }
        }

        .feedback-form{
            min-width: $wrapper-width-tablet;
            padding: 30px 0;

            #wpcf7-f295-o1 .text-288{
                width: 100%;
                float: none;
                margin-bottom: 10px;
                input{
                    width: 100%;
                }
            }

            #wpcf7-f295-o1 .text-61{
                width: 100%;
                float: none;

                input{
                    width: 100%;
                }
            }
        }

        .service-company{
            min-width: $wrapper-width-tablet;

            &__list li{
                width: 150px;
                border-top:none!important;
                border-left:none!important;
                &:nth-child(-n+4) {
                    border-top: 1px solid #bebebe!important;
                }

                &:nth-child(4n+1) {
                    border-left: 1px solid #bebebe!important;
                }
            }
        }

        .txt{
            min-width: $wrapper-width-tablet;
        }

        .see-more{
            min-width: $wrapper-width-tablet;
            &__title{
                line-height: normal;
            }
            li{
                width: 50%;
            }
        }

        .team{
            min-width: $wrapper-width-tablet;

            &__img{
                img{
                    height: auto;
                }
            }

            ul{
                li{
                    width: 50%;
                }
            }

        }



        .feedback-form input[type=submit]{
            float: none;
            display: block;
        }

        .footer
        {
            min-width: $wrapper-width-tablet;
            text-align: center;
            &__tel{
                &__before{
                    content: "";
                }
            }
            &__link{
                font-size: 18px;
                margin-bottom: 5px;
            }
            p{
                font-size: 15px;
            }

            .col-m-6:nth-child(-n+2){
                margin-bottom: 20px;
            }
        }

        .footer__bottom
        {
            min-width: $wrapper-width-tablet;

            p{
                font-size: 10px;
            }
        }

        // FIX FOR THE MENU

        .blog-post{
            text-align: center;
            .group{
                position: static;
                display: inline-block;
            }

            .content   {
                position: static;
                 display: inline-block;
                 text-align: left;
            }



        }

        .blog-post.on-the-left {
             .content   {
               padding-left: 0;
            }
            .info{
                .arrow{
                    top: auto;
                    bottom: -12px;
                    right: auto;
                    left: 50px;
                    border-right: transparent 30px solid;
                    border-bottom: 0;
                    border-left: transparent 30px solid;
                    border-top: $gold 12px solid;
                }
            }
        }

        .blog-post.on-the-right {

            .info{
                .arrow{
                    top: auto;
                    bottom: -12px;
                    right: auto;
                    left: 50px;
                    border-right: transparent 30px solid;
                    border-bottom: 0;
                    border-left: transparent 30px solid;
                    border-top: $gold 12px solid;
                }
            }
        }

}

// MOBILE
@media (max-width: $resolution-mobile)
{


        // COMMON

        .line{
            margin: 0;
        }

        .col-s-1 {
          width: 8.33333333%;
        }
        .col-s-2 {
          width: 16.66666667%;
        }
        .col-s-3 {
          width: 25%;
        }
        .col-s-4 {
          width: 33.33333333%;
        }
        .col-s-5 {
          width: 41.66666667%;
        }
        .col-s-6 {
          width: 50%;
        }
        .col-s-7 {
          width: 58.33333333%;
        }
        .col-s-8 {
          width: 66.66666667%;
        }
        .col-s-9 {
          width: 75%;
        }
        .col-s-10 {
          width: 83.33333333%;
        }
        .col-s-11 {
          width: 91.66666667%;
        }
        .col-s-12 {
          width: 100%;
        }

        .wrapper
        {
            width:  $wrapper-width-mobile;
            padding: 10px;
            margin: auto;
        }

        header{
            .fa-phone{
                display: none;
            }
            .diamond{
                display: none;
            }

            .top-bar__logo{
                img{
                    width: 130px;
                }
            }

            .header-tel{
                font-size: 18px;
            }

            .hero-heading{

                font-size: 16px;
                line-height: 21px;

                h1{
                    font-size: 20px;
                    line-height: 21px;
                }

                &:before{
                    left: 0;
                    right: 0;
                    width: 80%;
                    margin: 0 auto;
                }

                &:after{
                    left: 0;
                    right: 0;
                    width: 80%;
                    margin: 0 auto;
                }

                .hero-subheading{
                    font-size: 14px;
                }
            }
        }

        .hero{
            background-attachment: initial;
        }

        .order{
            background-attachment: initial;
        }

        .feed{
            background-attachment: initial;
        }


        .header{
            min-width: $wrapper-width-mobile;
            padding: 0;
            .logo{
                float: none;
                display: inline-block;
                vertical-align: middle;
            }

            .nav-toggle{
                display: inline-block;
            }

            .main-nav{
                display: none;
                ul{
                    display: inline-block;
                    vertical-align: middle;
                }
                li{
                    display: block;
                }
            }

            &-tel{
                font-size: 12px;
                padding-top: 2px;
            }

            .tel-btn{
                float: none;
                margin-bottom: 10px;
            }

            .tel-btn__tel{
                margin-bottom: 10px;
            }

            .tel-btn__btn{
                font-size: 16px;

            }
        }

        // MAIN

        .hero{
            .container{
                overflow: visible;
            }
        }

        .img-wrap-post{
              img{
                width: 280px;
              }
        }

        .look{
            min-width: $wrapper-width-mobile;
            margin-top: 120px;
            padding-top: 10px;
            background-position: -500px 0;
            padding-bottom: 0;

            &__title{
                font-size: 20px;
            }
            &__txt{
                margin-bottom: 10px;
            }
        }

        .advantages{
            min-width: $wrapper-width-mobile;
            padding:30px 0;

            .hero-heading{
                font-size: 22px;
            }

            &__item{
                margin-bottom: 20px;

                &:before{
                    margin-bottom: 10px;
                }
            }
        }

        .work-process{
            min-width: initial;
        }

         .prices{
            .prices__del{

                transform: translateX(0);
                del{
                    &:before{
                        top: 12px;
                    }
                    display: block;
                }
            }

            .sale{
                left:38px;
                top: -10px;
            }
        }

        .numbers{
            min-width: $wrapper-width-mobile;
            padding: 10px 0;
            &__number{
                margin-bottom: 0;
            }
            &__txt{
                margin-bottom: 15px;
                width: auto;
            }
        }

        .feedbacks{
            min-width: $wrapper-width-mobile;
            padding: 20px 0;
            &-list{
                padding: 10px;

                &__img{
                    margin-right: 0;
                }
                &__name{
                    display: block;
                    max-width: 300px;
                }
                &__txt{
                    width: auto;
                    max-width: 300px;
                }
            }
            li{
                text-align: center;
            }
            .owl-carousel .owl-item img{
                max-width: 150px;
                max-height: 150px;
                margin-bottom: 10px;
            }
            .owl-nav{
                display: none;
            }
            blockquote{
                margin: 0;
            }
        }

        .steps{
            min-width: $wrapper-width-mobile;
            padding: 30px 0;

            &:hover{
               .step{
                    &:after{
                        animation:go-go-down 1s ease-out infinite alternate;
                    }
                }
            }
            .step{
                margin-bottom: 70px;
                &--one:after{
                    bottom: -80px;
                    top: inherit;
                    left: 40%;
                    border: 25px solid transparent;
                    border-top: 40px solid rgba(194,151,58,0.6);
                    width: 0px;
                }

                &--two:after{
                    bottom: -80px;
                    top: inherit;
                    left: 40%;
                    border: 25px solid transparent;
                    border-top: 40px solid rgba(194,151,58,0.6);
                    width: 0px;

                }
            }
        }

        .order{
             min-width: $wrapper-width-mobile;
             padding-top: 30px;
        }

        .duality{
                min-width: $wrapper-width-mobile;
                padding-bottom: 200px;

            &__bg{
                &:before{
                    width: 100px;
                    height: 99px;
                    top: 0;
                    left: 50px;
                }
                &:after{
                    width: 130px;
                    height: 125px;
                    left: 140px;
                    bottom: 100px;
                }
            }
        }

        .about-team{
            min-width: $wrapper-width-mobile;
            ul{
                span{
                    font-size: 10px;
                }
                p{
                    font-size: 11px;
                }
                li{
                    width: 50%;
                }
            }
        }

        .popup form{
            width: 380px;
        }

        .form-extra{
            min-width: $wrapper-width-mobile;
            div.wpcf7 img.ajax-loader {
                display: block;
            }
            &__sub-title{
                font-size: 17px;
                margin-bottom: 20px;
            }

            form div.wpcf7-validation-errors{
                color: $dark-sky-blue;
            }

        }

        .certificate{
             .hero-heading{
                font-size: 22px;
            }
        }


        .service-menu{
            min-width: $wrapper-width-mobile;
            padding-bottom: 0;
            &__link{
                p{
                    font-size: 16px;
                }
            }
            &__link--first{
                background-position-x: -140px;
            }

            &__link--second{
                background-position-x: -180px;
            }

            &__link--third{
                background-position-x: -130px;
            }

            &__link--fourth{
                background-position-x: -230px;
            }
        }

        .faq{
             min-width: $wrapper-width-mobile;
             &__title{
                font-size: 25px;
                margin-bottom: 32px;
             }

             ul{
                width: 100%;
             }

             li{
                width: 100%;
                &:before{
                    display: none;
                }
             }

             &__a{
                padding-left: 0;
             }

             &__q p{
                font-size: 15px;
             }
        }

        .feed{
            .testimonials-box__links{
                right: 0;
                left: 0;
                width: 180px;
                margin: auto;
                bottom: 10px;
            }
        }


        .feedbacks-all{
            min-width: $wrapper-width-mobile;
            ul{
                    width: 100%;
            }

            &__info{
                img{
                    width: 65px;
                    height: 65px;
                }
            }

            blockquote{
                padding-top: 0;
            }
        }

        .feedback-form{
            min-width: $wrapper-width-mobile;
            padding: 30px 0;

             #wpcf7-f295-o1 .text-288{
                width: 100%;
                float: none;
                margin-bottom: 10px;
                input{
                    width: 100%;
                }
            }

            #wpcf7-f295-o1 .text-61{
                width: 100%;
                float: none;

                input{
                    width: 100%;
                }
            }
        }

        #wpcf7-f295-o1 span.wpcf7-list-item {
            width: 100%;
        }

        .feedback-form input[type=submit]{
            float: none;
            display: block;
        }

        .service-txt{
             min-width: $wrapper-width-mobile;
             line-height: normal;
        }

       .service-company{
           min-width: $wrapper-width-mobile;

           &__list li{
               width: 116px;
               border-top:none!important;
               border-left:none!important;
               &:nth-child(-n+3) {
                   border-top: 1px solid #bebebe!important;
               }

               &:nth-child(3n+1) {
                   border-left: 1px solid #bebebe!important;
               }
           }
        }

        .txt{
            min-width: $wrapper-width-mobile;
        }

        .see-more{
            min-width: $wrapper-width-mobile;
            &__title{
                line-height: normal;
            }

            li{
                width: 100%;
            }
            &--2{

                li{
                    width: 100%;
                }
            }
        }

        .team{
             min-width: $wrapper-width-mobile;
            ul{
                li{
                    width: 100%;
                }
            }

             &__img{
                img{
                    height: auto;
                }
            }
        }

        .video{
            iframe{
                width: 300px;
            }
        }

        .footer{
            min-width: $wrapper-width-mobile;
            text-align: center;

            &__link{
                font-size: 18px;
                margin-bottom: 5px;
            }
            p{
                font-size: 15px;
            }

            &__tel{
                font-size: 16px;
                margin:0 auto;
                &:before{
                   display: none;
                }
            }

            &__insta{
                h3{
                    a{
                        width: 100%;
                    }

                }
            }

            .col-m-6:nth-child(-n+2){
                margin-bottom: 20px;
            }
        }

        .footer__bottom
        {
            min-width: $wrapper-width-mobile;
            font-size: 12px;
            p{
                font-size: 10px;
            }
        }


        .blog-post{
            text-align: center;
            .group{
                position: static;
                display: inline-block;
            }

            .content   {
                position: static;
                 display: inline-block;
                 text-align: left;
            }
        }

        .blog-post.on-the-left {
             .content   {
               padding-left: 0;
            }

            .info{
                    .arrow{
                        top: auto;
                        bottom: -12px;
                        right: auto;
                        left: 50px;
                        border-right: transparent 30px solid;
                        border-bottom: 0;
                        border-left: transparent 30px solid;
                        border-top: $gold 12px solid;
                    }
                }
        }

         .blog-post.on-the-right {

                .info{
                    .arrow{
                        top: auto;
                        bottom: -12px;
                        right: auto;
                        left: 50px;
                        border-right: transparent 30px solid;
                        border-bottom: 0;
                        border-left: transparent 30px solid;
                        border-top: $gold 12px solid;
                    }
                }
        }
}

@media (max-width: 520px){

    .blog-post{
        .content {
            width: auto;
        }
        .info{
            display: block;
            width: 100%;

            .stat{
                font-size: 17px;
            }
        }
    }

     .flickr-widget {
        text-align: center;
    }

}


@media (max-width: 980px) and (min-width: 770px)
{

    .nav > li:nth-child(3) {
        margin-left: 0;
    }

    .collapse.navbar-collapse{
        padding: 0;
    }

    .navbar > .container .navbar-brand{
        display: none;
    }
}

@media (max-width: 770px)
{

    .nav > li:nth-child(3) {
        margin-left: 0;
    }

    .collapse.navbar-collapse{
        padding: 0;
    }

    .navbar > .container .navbar-brand{
        display: none;
    }

    .navbar-collapse.in {
        overflow-y: inherit;
    }

    .nav {
        width: 100%;
        height: auto;
    }

    .navbar {
        height: auto;
        li{
            text-align: center;
        }
    }

    .nav > li > a, .nav > li > a:hover, .nav > li > a:focus, .nav > li > a:visited, .nav > li > a:active {
        width: auto;
    }

}
*/