.form-order{

    min-height: 290px;
    text-align: center;

    form{
        display: inline-block;
        vertical-align: middle;
        position: relative;
        z-index: 1;

        input{
            display: block;
            width: 250px;
            height: 56px;
            border-radius: 100px;
            border: solid 1px #ffffff;
            background-color: transparent;
            color: #fff;
            padding-left: 31px;
            margin-bottom: 28px;
            outline: none;
        }

        input[type=submit]{
            cursor: pointer;
            padding: 0;
            background-color: $dark-sky-blue;
            border: none;
            transition: all 0.5s;

            &:hover{
                background-color: $green;
            }
        }
    }
}

.popup{
    display: none;
    position: fixed;
    top: 0;
    width: 100%;
    min-height: 100%;
    background-color: rgba(0,0,0,.7);
    overflow: hidden;
    z-index: 3000000000;/*должно быть 10 но оптимизатор тупит*/

    form{
        width: 570px;
        min-height: 449px;
        background-color: #fff;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
        text-align: center;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);

        .popup-form__head{
            @mixin clearfix;
            display: inline-block;
            vertical-align: middle;
            margin-top: 68px;
            margin-bottom: 51px;
            max-width: 370px;
            font-size: 24px;
            font-weight: bold;
            line-height: 1.08;
            letter-spacing: 0.5px;
            color: $gold;
        }

        .popup-form__close{
            position: absolute;
            top:20px;
            right: 20px;
            width: 32px;
            height: 32px;
            font-size: 26px;
            cursor: pointer;
            color: $gold;
            background-repeat: no-repeat;
            @mixin clearfix;
        }

        > span{
            display: block;
            position: relative;
            width: 317px;
            color: $gold;
            margin: 0 auto;
        }

        > span:nth-of-type(2){
            position: relative;
            &:before{
                content: "\f095";
                display: inline-block;
                font: normal normal normal 14px/1 FontAwesome;
                text-rendering: auto;
                -webkit-font-smoothing: antialiased;
                color: $gold;
                font-size: 20px;
                position: absolute;
                top: 20px;
                left: 15px;
            }

            &:after{
                content: "";
                display: inline-block;
                width: 2px;
                height: 37px;
                background:$gold;
                position: absolute;
                top: 10px;
                left: 40px;
            }
        }
        >button{


        }
        > span:first-of-type{
            position: relative;
            &:before{
                content: "\f007";
                display: inline-block;
                font: normal normal normal 14px/1 FontAwesome;
                text-rendering: auto;
                -webkit-font-smoothing: antialiased;
                color: $gold;
                font-size: 20px;
                position: absolute;
                top: 20px;
                left: 15px;
            }

            &:after{
                content: "";
                display: inline-block;
                width: 2px;
                height: 37px;
                background:$gold;
                position: absolute;
                top: 10px;
                left: 40px;
            }
        }

       input{
            display: block;
            width: 317px;
            height: 56px;
            padding-left: 60px;
            margin-bottom: 22px;
            outline: none;
            text-transform: uppercase;
            letter-spacing: 0.2em;
        }

        input[type=submit]{
            cursor: pointer;
            padding: 0;
            background-color: $dark-sky-blue;
            color: #fff;
            border: none;
            transition: all 0.5s;

            &:hover{
                background-color: $green;
            }

        }

        div.wpcf7-response-output {
            color: #000;
        }
    }


    &--MessageAfter{
        display: block;




        &__inner{
            position: relative;
            width: 290px;
            min-height: 420px;
            padding: 50px 30px;
            padding-top: 70px;
            background-color: #fff;
            box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
            text-align: center;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translateX(-50%) translateY(-50%);

            &:after {
                content: "";
                background-image: url(../img/machine.png);
                background-size: cover;
                position: absolute;
                margin: auto;
                width: 40px;
                height: 40px;
                bottom: 10px;
                right: 10px;
            }
        }

        &__title{
            font-size: 19px!important;
            margin-bottom: 15px;
            color: $gold;
        }

        p{
            font-size: 16px;
            line-height: 20px;
        }

        &__close{
            position: absolute;
            top:20px;
            right: 20px;
            width: 32px;
            height: 32px;
            font-size: 26px;
            cursor: pointer;
            color: $gold;
            background-repeat: no-repeat;
        }

        &__img{
            border-radius: 50%;
            border: 2px solid $gold;
            max-width: 200px;
        }
    }
}

.form-extra{
    min-height: 370px;
    padding: 90px 0;
    text-align: center;
    position: relative;

    &__title{
        font-size: 24px;
        font-weight: bold;
        line-height: 1.75;
        letter-spacing: 0.5px;
        padding: 0;
        margin: 0;
        color: $red;
    }

    &__sub-title{
        font-size: 18px;
        font-weight: normal;
        line-height: 2.33;
        letter-spacing: 0.4px;
        color:  $greyish-brown;
        padding: 0;
        margin-top: 0;
        margin-bottom: 43px;
    }


    form p > span:first-of-type{
        position: relative;
        &:before{
            content: "\f007";
            display: inline-block;
            font: normal normal normal 14px/1 FontAwesome;
            text-rendering: auto;
            -webkit-font-smoothing: antialiased;
            color: $gold;
            font-size: 20px;
            position: absolute;
            top: 22px;
            left: 35px;
        }

        &:after{
            content: "";
            display: inline-block;
            width: 2px;
            height: 37px;
            background:$gold;
            color: $gold;
            position: absolute;
            top: 12px;
            left: 60px;
        }
    }

    form p > span:last-of-type{
        position: relative;
        &:before{
            content: "\f095";
            display: inline-block;
            font: normal normal normal 14px/1 FontAwesome;
            text-rendering: auto;
            -webkit-font-smoothing: antialiased;
            color: $gold;
            font-size: 20px;
            position: absolute;
            top: 22px;
            left: 35px;
        }

        &:after{
            content: "";
            display: inline-block;
            width: 2px;
            height: 37px;
            background:$gold;
            color: $gold;
            position: absolute;
            top: 12px;
            left: 60px;
        }
    }

    input{
         display: inline-block;
         vertical-align: top;
         width: 250px;
         height: 61px;
         padding-left: 50px;
         margin:0 20px;
         margin-bottom: 20px;
         outline: none;
         color: $gold;
         text-transform: uppercase;
         letter-spacing: 0.3em;
     }

     button{
        display: inline-block;
        vertical-align: top;
        background-color: $gold;
        color: #fff;
        transition: all 0.5s;

        &:hover{
            .icon{
                border-right-color: $gold;
            }
        }

        .icon{
            border-right-color: #fff;
            transition: all 0.5s;
        }
     }

     input[type=submit]{
         cursor: pointer;
         padding: 0;
         background-color: $dark-sky-blue;
         color: #fff;
         border: none;


        transition: all 0.5s;

        &:hover{
             background-color: $green;
        }

     }

    form div.wpcf7-validation-errors{
        color: $dark-sky-blue;
    }


}

.feedback-form{

    min-height: 370px;
    padding: 50px 0;
    font-size: 0;
    @mixin clearfix;

    &__head{
        @mixin clearfix;
        margin-bottom: 20px;

        span{
             &:first-child{
            float: left;
            width: auto;
        }
            &:last-child{
                float: right;
                width: auto;
            }
        }
    }



    input{
         display: inline-block;
         vertical-align: middle;
          /*width: 48%; убрано из-за совместимости с wp cf7*/
         width: 430px;
         height: 56px;
         border-radius: 100px;
         border: solid 1px $pinkish-grey;
         padding-left: 31px;
         outline: none;
         font-size: 18px;
         background: rgba(144, 144, 144, 0.075);
         border-radius: 4px;
         border: none;
         border: solid 1px rgba(144, 144, 144, 0.25);
         color: inherit;
         outline: 0;
         text-decoration: none;
    }

    button{
        float: right;
        letter-spacing: 0.2em;
        &:hover{
            letter-spacing: .2em;
        }
    }

/*
    input[type=submit]{
        cursor: pointer;
        padding: 0;
        background-color: $gold;
        color: #fff;
        border: none;
        transition: all 0.5s;
        float: right;
        width: auto;
        padding-left: 25px;
        padding-right: 25px;
        transition: all .5s;
        &:hover{
            background-color: $dark-sky-blue;
        }
    }
*/
    input[type=radio]{
        cursor: pointer;
        height: 20px;
        background: none;

    }

    label{
         /*width: 20%; убрано для совместимости с wp cf7*/
        display: inline-block;
        vertical-align: middle;
        font-size:18px;
        color: $pinkish-grey;
        margin-bottom: 20px;
    }

    textarea{
        background: rgba(144, 144, 144, 0.075);
        border-radius: 4px;
        border: none;
        border: solid 1px rgba(144, 144, 144, 0.25);
        color: inherit;
        display: block;
        outline: 0;
        padding: 20px;
        text-decoration: none;
        min-height: 200px;
        width: 100%;
        font-size:18px;
        margin-bottom: 20px;
    }



}

input:checked + span{
            color: $dark-sky-blue;
        }

form{
    p{
        -webkit-margin-before: 0;
        -webkit-margin-after: 0;
    }
    span.wpcf5-not-valid-tip{
        color: #fff;
    }
    div.wpcf7-response-output {
        margin: 0;
        color: #fff;
    }
    div.wpcf7-validation-errors {
        border: 2px solid  $dark-sky-blue;
    }
    span{
        display: inline-block;
        vertical-align: middle;
    }
    .wpcf7-form-control-wrap{
        width: 100%;
    }
    input{
        margin: 0 auto;
    }
    .text-613{
        width: auto;
    }
    .tel-845{
        width: auto;
    }
}

#wpcf7-f243-o1{
    .wpcf7-response-output{
        color:$dark-sky-blue;
    }
}

#wpcf7-f295-o1{
    .wpcf7-radio{
        width: 100%;
        text-align: center;
    }

    span.wpcf7-list-item{
        width: 20%;
    }

    .text-288{
        float: left;
        width: 48%;
    }
    .text-61{
        float: right;
        width: 48%;
    }

    .wpcf7-response-output{
        font-size: 13px;
        color:$dark-sky-blue;
        width: 50%;
    }
}