.img-wrap-post{
  text-align: center;
  margin-bottom: 40px;
  img{
    display: inline-block;
    vertical-align: middle;
    width: 800px;
    height: auto;
  }

}



.col-1 {
  width: 8.33333333%;
}
.col-2 {
  width: 16.66666667%;
}
.col-3 {
  width: 25%;
}
.col-4 {
  width: 33.33333333%;
}
.col-5 {
  width: 41.66666667%;
}
.col-6 {
  width: 50%;
}
.col-7 {
  width: 58.33333333%;
}
.col-8 {
  width: 66.66666667%;
}
.col-9 {
  width: 75%;
}
.col-10 {
  width: 83.33333333%;
}
.col-11 {
  width: 91.66666667%;
}
.col-12 {
  width: 100%;
}

.wrapper
{
  margin: 0 auto;
  padding: 0 15px;
  width: $wrapper-width;
}

.line
{
  font-size: 0;
  margin: 0 -$wrapper-margin;
  & [class^=col-]
  {
    display: inline-block;
    vertical-align: top;
    padding:0 $wrapper-margin;
    font-size: 16px;
  }
}

.clearfix
{
  &:after, &:before
  {
    content: "";
    display: table;
    clear: both;
  }
}

.mb-50{
    margin-bottom: 50px;
}

.mb-100{
    margin-bottom: 100px;
}

.pt-50{
  padding-top: 50px;
}

.pt-20{
  padding-top: 20px;
}

.bb{
  border-bottom: 2px solid $gold;
}

.bt{
  border-top: 2px solid $gold;
}

.mb-0{
  margin-bottom: 0;
}

.mt-100{
  margin-top: 100px;
}

.pl-30{
  padding-left: 30px;
}


.tac{
  text-align: center;
}

.tar{
  text-align: right;
}

.txt{
  .p-20{
    p{
          margin-bottom: 20px;
    }
  }
}

.img-wrap{
  border: 2px solid $gold;
  img{
    width: 100%;
    height: auto;
  }
}

.gold{
  color: $gold;
}