/*Colors*/
$greyish-brown:#4a4a4a;
$dark-sky-blue:#4a90e2;
$white-three:#f3f3f3;
$pinkish-grey:#bebebe;
$green:#51baa4;
$gold:#c2973c;
$red:#b61d83;

/*OLD-COLORS*/
$grey-basic: #595959;
$grey-light: #f8f8f8;
$blue-dark:#164666;
$green-basic:#2ecc71;

/*BG*/
$bg-basic:rgba(73, 92, 95, .45);
$bg-dark:rgba(0, 0, 0, .35);


/*Sizes*/
$margin-ok:40px;

$font-size-h1:35px;
$font-size-h2: round($font-size-h1*0.875);
$font-size-h3: round($font-size-h1*0.6875);
$font-size-h4: round($font-size-h1*0.5);
$font-size-base:16px;

/*Wrappers*/
$wrapper-width: 970px;
$wrapper-padding:20px;
$wrapper-width-correct:$wrapper-width - $wrapper-padding;
$wrapper-margin:20px;