/* Common styles & typography */
.button:not(:active),
.button-big:not(:active) .icon,
input,
textarea {
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  transition-duration: 0.2s;
}
.button-inverted:hover {
  -webkit-box-shadow: inset #fff 0 0 0 2px !important;
  -moz-box-shadow: inset #fff 0 0 0 2px !important;
  box-shadow: inset #fff 0 0 0 2px !important;
}
/* Navigation */
.navbar,
.nav > li > a > span {
  -webkit-transition-timing-function: cubic-bezier(0.13, 0.71, 0.30, 0.94);
  -moz-transition-timing-function: cubic-bezier(0.13, 0.71, 0.30, 0.94);
  -o-transition-timing-function: cubic-bezier(0.13, 0.71, 0.30, 0.94);
  transition-timing-function: cubic-bezier(0.13, 0.71, 0.30, 0.94);
  -webkit-transition-duration: 0.25s;
  -moz-transition-duration: 0.25s;
  -o-transition-duration: 0.25s;
  transition-duration: 0.25s;
}
.navbar {
  -webkit-box-shadow: rgba(0, 0, 0, 0.35) 0 0 5px;
  -moz-box-shadow: rgba(0, 0, 0, 0.35) 0 0 5px;
  box-shadow: rgba(0, 0, 0, 0.35) 0 0 5px;
}
.navbar-collapse {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.nav ul,
.nav li > a > span .tl:before,
.nav li > a > span .tl:after,
.nav li > a > span .br:before,
.nav li > a > span .br:after,
.nav li > a > span:before {
  -webkit-transition-timing-function: cubic-bezier(0.13, 0.71, 0.30, 0.94);
  -moz-transition-timing-function: cubic-bezier(0.13, 0.71, 0.30, 0.94);
  -o-transition-timing-function: cubic-bezier(0.13, 0.71, 0.30, 0.94);
  transition-timing-function: cubic-bezier(0.13, 0.71, 0.30, 0.94);
  -webkit-transition-duration: 0.25s;
  -moz-transition-duration: 0.25s;
  -o-transition-duration: 0.25s;
  transition-duration: 0.25s;
}
/* Hero */
.cover .one,
.cover .two {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
/* Lists */
.list li .bullet {
  -webkit-transform-origin: 0 100%;
  -moz-transform-origin: 0 100%;
  -o-transform-origin: 0 100%;
  -ms-transform-origin: 0 100%;
  transform-origin: 0 100%;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
/* Skill bars */
.skill-bar .fill {
  -webkit-transition-timing-function: cubic-bezier(0.13, 0.71, 0.30, 0.94);
  -moz-transition-timing-function: cubic-bezier(0.13, 0.71, 0.30, 0.94);
  -o-transition-timing-function: cubic-bezier(0.13, 0.71, 0.30, 0.94);
  transition-timing-function: cubic-bezier(0.13, 0.71, 0.30, 0.94);
  -webkit-transition-duration: 3s;
  -moz-transition-duration: 3s;
  -o-transition-duration: 3s;
  transition-duration: 3s;
}
.skill-bar-bullets .fill {
  -webkit-opacity: 0;
  -moz-opacity: 0;
  opacity: 0;
}
/* History */
.history .icon {
  -webkit-box-shadow: #fff 0 0 0 5px;
  -moz-box-shadow: #fff 0 0 0 5px;
  box-shadow: #fff 0 0 0 5px;
}
body.dark .history .icon {
  -webkit-box-shadow: #272727 0 0 0 5px;
  -moz-box-shadow: #272727 0 0 0 5px;
  box-shadow: #272727 0 0 0 5px;
}
/* Portfolio styles */
.portfolio .item .image,
.portfolio .item .overlay,
.portfolio .item .overlay .tile,
.portfolio .item .overlay .link,
.portfolio .item .overlay .link .category {
  -webkit-transition-timing-function: cubic-bezier(0.13, 0.71, 0.30, 0.94);
  -moz-transition-timing-function: cubic-bezier(0.13, 0.71, 0.30, 0.94);
  -o-transition-timing-function: cubic-bezier(0.13, 0.71, 0.30, 0.94);
  transition-timing-function: cubic-bezier(0.13, 0.71, 0.30, 0.94);
  -webkit-transition-duration: 0.35s;
  -moz-transition-duration: 0.35s;
  -o-transition-duration: 0.35s;
  transition-duration: 0.35s;
}
.portfolio .item:hover .image,
.portfolio .item:hover .overlay {
  -webkit-transition-duration: 2s;
  -moz-transition-duration: 2s;
  -o-transition-duration: 2s;
  transition-duration: 2s;
}
.portfolio .item:hover .overlay .tile,
.portfolio .item:hover .overlay .link,
.portfolio .item:hover .overlay .link .category {
  -webkit-transition-duration: 0.75s;
  -moz-transition-duration: 0.75s;
  -o-transition-duration: 0.75s;
  transition-duration: 0.75s;
}
.portfolio .item:hover .image {
  -webkit-transform: scale(1.2) rotate(3deg);
  -moz-transform: scale(1.2) rotate(3deg);
  -o-transform: scale(1.2) rotate(3deg);
  -ms-transform: scale(1.2) rotate(3deg);
  transform: scale(1.2) rotate(3deg);
}
.portfolio .item .overlay .tile {
  -webkit-opacity: 0;
  -moz-opacity: 0;
  opacity: 0;
  -webkit-transform: scale(0.8);
  -moz-transform: scale(0.8);
  -o-transform: scale(0.8);
  -ms-transform: scale(0.8);
  transform: scale(0.8);
}
.portfolio .item:hover .overlay .tile {
  -webkit-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -o-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}
.portfolio .item .overlay .link {
  -webkit-perspective: 500px;
  -moz-perspective: 500px;
  perspective: 500px;
  -webkit-opacity: 0;
  -moz-opacity: 0;
  opacity: 0;
}
.portfolio .item:hover .overlay .link {
  -webkit-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
}
.portfolio .item .overlay .link .category {
  -webkit-transform: translateY(35px);
  -moz-transform: translateY(35px);
  -o-transform: translateY(35px);
  -ms-transform: translateY(35px);
  transform: translateY(35px);
}
.portfolio .item:hover .overlay .link .category {
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -o-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
}
lesshat-selector {
  -lh-property: 0; }


.portfolio .item:hover .overlay .link .title {
  -webkit-animation: title 3s forwards linear;
  -moz-animation: title 3s forwards linear;
  -o-animation: title 3s forwards linear;
  animation: title 3s forwards linear;
}
/* Diamond */
.diamond .background {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.diamond .line1,
.diamond .line2 {
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
.expandable.open .diamond .line1 {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}
.expandable.open .diamond .line2 {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}
/* Iconed */
.iconed .iconed-icon {
  -webkit-opacity: 0.05;
  -moz-opacity: 0.05;
  opacity: 0.05;
}
/* Roller */
.roller-list,
.roller-list > *:first-child {
  -webkit-transition-timing-function: cubic-bezier(0.13, 0.71, 0.30, 0.94);
  -moz-transition-timing-function: cubic-bezier(0.13, 0.71, 0.30, 0.94);
  -o-transition-timing-function: cubic-bezier(0.13, 0.71, 0.30, 0.94);
  transition-timing-function: cubic-bezier(0.13, 0.71, 0.30, 0.94);
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
/* Flickr widget */
.flickr-widget-item a .hover {
  -webkit-opacity: 0;
  -moz-opacity: 0;
  opacity: 0;
  -webkit-transition-timing-function: cubic-bezier(0.13, 0.71, 0.30, 0.94);
  -moz-transition-timing-function: cubic-bezier(0.13, 0.71, 0.30, 0.94);
  -o-transition-timing-function: cubic-bezier(0.13, 0.71, 0.30, 0.94);
  transition-timing-function: cubic-bezier(0.13, 0.71, 0.30, 0.94);
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
.flickr-widget-item a:hover .hover {
  -webkit-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
}
