/* Navigation */
.navbar-header {
    width: 100%;
    position: relative;
}
.nav > li > a,
.nav > li > a:hover,
.nav > li > a:focus,
.nav > li > a:visited,
.nav > li > a:active {
    width: 175px;
}
.nav > li:nth-child(3) {
    margin-left: 210px;
}
.navbar-brand,
.navbar-brand:hover,
.navbar-brand:focus,
.navbar-brand:visited,
.navbar-brand:active {
    position: absolute;
    top: 0;
    left: 50%;
    width: 0;
    height: 0;
    border-top: transparent 105px solid;
    border-left: transparent 105px solid;
    border-right: transparent 105px solid;
    display: block;
}
.navbar > .container .navbar-brand,
.navbar > .container-fluid .navbar-brand {
    margin: 0 0 0 -105px;
    padding: 0;
}
.navbar-brand > span {
    position: absolute;
    top: -105px;
    left: -105px;
    width: 210px;
    height: 105px;
    font-size: 13px;
    line-height: 20px;
    color: #fff;
    text-align: center;
    padding: 13px 35px 0 35px;
}

/* Hero */
.cover {
    position: absolute;
    left: 50%;
    bottom: -94px;
    margin: 0 0 0 -93px;
    z-index: 9000;
}
.cover .one,
.cover .two {
    position: absolute;
    width: 142px;
    height: 142px;
    border-top: transparent 1px solid;
    border-right: transparent 1px solid;
}
.cover .one {
    top: 22px;
    left: 19px;
}
.cover .two {
    top: 22px;
    right: 19px;
}
.cover-space {
    height: 100px;
}

/* History */
.history li {
    padding-top: 95px;
}
.history .aff {
    top: 45px;
    left: 133px;
}

/* Portfolio */
.portfolio {
    width: 939px;
}

/* Blog post styles */
.blog-post {
    position: relative;
    min-height: 184px;
    margin-bottom: 40px;
}
.blog-post .group {
    position: absolute;
    top: 0;
}
.blog-post .image {
    width: 315px;
    height: 184px;
    float: left;
}
.blog-post .info {
    width: 155px;
    height: 184px;
    float: left;
}
.blog-post .content {
    width: 470px;
    padding-top: 25px;
}
.blog-post.on-the-left .group {
    left: 0;
}
.blog-post.on-the-right .group {
    left: 470px;
}
.blog-post.on-the-left .content {
    left: 470px;
    padding-left: 37px;
}
.blog-post.on-the-right .content {
    left: 0;
    padding-right: 37px;
}
.blog-post.on-the-left .info .arrow {
    right: -12px;
    bottom: auto;
    top: 0;
    border-top: transparent 30px solid;
    border-right: 0;
    border-bottom: transparent 30px solid;
    border-left: red 12px solid;
}
.blog-post.on-the-right .info .arrow {
    left: -12px;
    bottom: auto;
    top: 0;
    border-top: transparent 30px solid;
    border-right: red 12px solid;
    border-bottom: transparent 30px solid;
    border-left: 0;
}
.blog-post.on-the-right .image,
.blog-post.on-the-right .info {
    float: right;
}



