/* Common styles & typography */
.pull-left-small {
    float: left !important;
}
.pull-right-small {
    float: right !important;
}

/* Navigation */
.navbar,
.navbar-collapse {
    height: 80px;
}
.navbar-brand,
.navbar-brand:hover,
.navbar-brand:focus,
.navbar-brand:visited,
.navbar-brand:active {
    display: none;
}
.navbar-nav {
    margin-bottom: 0;
}
.nav {
    width: 100%;
    height: 80px;
}
.nav > li {
    height: 80px;
}
.nav > li > a,
.nav > li > a:hover,
.nav > li > a:focus,
.nav > li > a:visited,
.nav > li > a:active {
    width: 172px;
    text-align: center;
    padding: 0 !important;
}
.nav ul > li > a,
.nav ul > li > a:hover,
.nav ul > li > a:focus,
.nav ul > li > a:visited,
.nav ul > li > a:active {
    padding: 7px 18px !important;
}
.nav > li > a > span {
    margin: 22px 0 0 0;
}
.nav-wrapper-brand,
.nav-close {
    line-height: 78px;
}
body.nav-fixed-important {
    padding-top: 130px;
}
.nav > li > ul,
.nav ul ul {
    position: absolute;
    top: 80px;
    left: 50%;
    margin: 0;
    background: #fff;
    border-top: transparent 2px solid;
}
.dark .nav > li > ul,
.dark .nav ul ul {
    background: #171717;
}
.nav ul ul {
    top: -2px;
    left: 100%;
}
.nav li.node {
    padding-right: 17px;
}
nav li.node:before {
    content: "";
    display: block;
    position: absolute;
    top: 20px;
    right: 18px;
    width: 0;
    height: 0;
    border-top: transparent 4px solid;
    border-left: transparent 4px solid;
    border-bottom: transparent 4px solid;
}

/* Hero */
body.nav-fixed #hero {
    margin-bottom: 180px;
}

/* Portfolio */
.portfolio {
    width: 626px;
}

/* Blog post styles */
.blog-post .image {
    width: 520px;
    height: 304px;
}
.blog-post .info {
    width: 200px;
    height: 304px;
}
.blog-post .info .stat {
    display: block;
    margin: 0;
}
.blog-post.on-the-left .image,
.blog-post.on-the-left .info {
    float: left;
}
.blog-post.on-the-right .image,
.blog-post.on-the-right .info {
    float: right;
}
.blog-post.on-the-left .info .arrow {
    left: auto;
    right: 0;
}
.blog-post.on-the-right .info .arrow {
    left: 0;
    right: auto;
}

/* Top bar */
.top-bar {
    display: block;
}