.feedbacks{
    position: relative;
    z-index: 0;
    padding: 100px 0;
    min-width: $wrapper-width;

}



.feed{
      position: relative;
      min-height: 450px;
      background-image: url("../img/bg_1.jpg");
      background-attachment: fixed;
      background-position: 40% 20%;
      background-size: cover;

    .hero-heading{
        color: #fff;
    }

    .testimonials-box{
        position: relative;
        &__links{
            position: absolute;
            right: 35px;
            bottom: 25px;
            font-size: 15px;
            transition: all 0.5s;

            a{
                display: inline-block;
                vertical-align: middle;
                color: #fff;
                position: relative;
                text-decoration: underline;
                &:hover{
                    color: #fff;
                }
                &:before{
                    content: "\f0c0";
                    font: normal normal normal 14px/1 FontAwesome;
                    margin-right: 5px;
                    color: #fff;
                }
            }
        }

    }

    .testimonials-name{
        display: inline-block;
        vertical-align: middle;
        color: #fff;
        text-decoration: underline;
    }

    &__link{
        position: relative;
        color: #fff;
        display: inline-block;
        vertical-align: middle;
        padding: 20px 30px;
        text-decoration: none;
        text-transform: uppercase;
        letter-spacing: 1px;
        border-radius: 2px;
        font-size: 14px;
        border: 2px solid $gold;
        margin-top: 20px;
        position: relative;

        &:hover{
            text-decoration: none;
            color: #fff;
            border: 2px solid #fff;
        }

    }

    &:before {
      content: "";
      min-height: 100%;
      background-image: url("../img/overlay.png");
      overflow: hidden;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
    }
}



.feedbacks-list{
    font-size: 0;
    cursor: move;
    padding: 0 100px;

    &__txt{
        display: inline-block;
        vertical-align: middle;
        font-size: 20px;
        width: 500px;
    }

    &__img{
        display: inline-block;
        vertical-align: middle;
        margin-right: 45px;
        border-radius: 50%;
    }

    &__name{
        font-size: 18px;
        font-style: normal;
        font-weight: 600;
        color: $greyish-brown;
    }

    &__q{
        margin: 0;
        font-size: 14px;
        color: $greyish-brown;
    }

}

.feedbacks-all{

    padding-top: 55px;
    padding-bottom: 50px;
    color:$greyish-brown;
    text-align: center;
    font-size: 0;
    &__info{
        display: inline-block;
        vertical-align: top;
        width: 30%;
        font-size: 12px;
        img{
            width: 145px;
            height: 145px;
            border-radius: 50%;
            border: 2px solid $gold;
        }
    }
    &__txt{
        display: inline-block;
        vertical-align: top;
        width: 70%;
    }

    blockquote{

        margin: 0;
        padding: 10px 0;
        color: $greyish-brown;
        border: 0;
        p{
            color: $greyish-brown;
            text-align: left;
        }

        &:before{
            content: "";
        }
    }

     &__date{
        margin-right: 20px;
        display: inline-block;
        vertical-align: middle;
        font-size: 14px;
        color: $gold;
        &:before {
            content: "\f073";
            font: normal normal normal 14px/1 FontAwesome;
            margin-right: 5px;
        }
    }

    &__title{
        @mixin title;
    }

    &__name{
        margin-right: 20px;
        display: inline-block;
        vertical-align: middle;
        font-style: normal;
        font-size: 14px;
        color: $gold;
        &:before {
            content: "\f189";
            font: normal normal normal 14px/1 FontAwesome;
            margin-right: 5px;
        }
    }

    ul{
        display: inline-block;
        vertical-align: middle;
        margin: 0;
        padding: 0;
        list-style: none;


        li{
            margin-bottom: 20px;
            min-height: 100px;
            background-color: $white-three;
            padding: 20px;
        }
    }



}
/*

.owl-carousel .owl-item img {
    display: inline-block;
    vertical-align: middle;
    max-height: 237px;
    max-width: 237px;
}

.owl-carousel .owl-dot {
    width: 14px;
    height: 14px;
    border:1px solid $pinkish-grey;
    border-radius: 50%;
    background-color: #fff;
    margin: 0 7px;
    display: inline-block;
    vertical-align: middle;
}

.owl-carousel .owl-dot.active {
    background-color: $pinkish-grey;
}


.owl-dots{
    text-align: center;
}


.owl-nav{
    font-size: 20px;
    width: 100%;
    position: absolute;
    left: 0;
    top: 45%;
    font-size: 40px;
}


.owl-prev{
    position: absolute;
    left: 10px;
    transform: rotate(180deg);
}

.owl-next{
    position: absolute;
    right: 10px;

}

.owl-carousel .owl-stage-outer{
    min-height: 240px;
}

*/
/*
.owl-next, .owl-prev{
    width: 55px;
    height: 55px;
    border-radius:50%;
    background-color: #fff;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
    background-image:url('../img/svg/chevron-right.svg');
    background-repeat: no-repeat;
    background-position: 50%;
}
*/

.video{
    min-height: 300px;
    padding: 20px 0;
    position: relative;
    z-index: 10;

    .owl-dots{
        text-align: center;
    }

    .owl-dot {
        width: 14px;
        height: 14px;
        border:2px solid $pinkish-grey;
        border-radius: 50%;
        background-color: transparent;
        margin: 0 7px;
        display: inline-block;
        vertical-align: middle;
        margin-top: 10px;
    }

    .owl-dot.active {
        background-color: $pinkish-grey;
    }

    iframe{
        margin: 0 auto;
        display: block;
        height: 270px;
        width: 455px;
        border: 2px solid #c2973c;
        border-radius: 3px;
        background-size: cover;
        margin-bottom: 50px;
    }
}