

.blog-post .info {
    position: relative;
    padding: 40px 10px 0 10px;
    text-align: center;
}

.fa-book{
    color: #fff;
}


/*header картинки команды*/
.flickr-widget-item img{
    width: 100%;
    height: auto;
}
/*header отзывы*/
.roller{
    p.small.condensed{
        padding-top: 5px;
    }
}

.testimonials-name{
    display: block;
    padding: 5px;
    color: #000;
    transition:color 0.4s;
}

.testimonials-name:visited{
    color: #000;
}

.testimonials-name:hover, .testimonials-name:active, .testimonials-name:focus{
    color: #fff;
}

.testimonials-img{
    margin-left: 30px;
    float: right;
    img{
        width: 100px;
        height: 100px;
        border-radius: 100%;
        border: #fff 5px solid;
    }
}

.hero-heading.section-heading-my{
    .tl,.tr {
        top: -10px;
        height: 20px;
    }
     .bl, .br{
        bottom: -10px;
        height: 20px;
    }
    &:before{
        top: -10px;
    }
    &:after{
        bottom: -10px;
    }
    a{

        font-size: 25px;
        color: $gold;
        transition: color .4s;
        &:hover{
            color: #fff;
            text-decoration: none;
        }

    }

}

.sub-heading{
    a{
        display: inline-block;
        vertical-align: middle;
        letter-spacing: 0.1em;
        color: #333;
        transition:color .4s;
        &:hover{
            color: $gold;
        }
    }
}

h1.section-heading{
    font-weight: normal;
}

/*Чтобы навигация не перекрывала галлрею*/
.navbar{
    z-index: 1000;
}
/*Чтобы автарка перекрывала надпись мастер татуажа*/
.cover{
    z-index: 1001;
}
.diamond{
    .background{
        box-shadow: 2px 0 2px rgba(0,0,0,0.5);
    }
}
/*Чтобы картинка в меню занимала всю ширину*/
.blog-post-small__img{
    img{
        width: 100%;
    }
}

/*Чтобы был красивый эффект при наведении*/

.blog-post{
    position: relative;
    .image{
        overflow: hidden;
        img{
            width: 100%;
            transition: all 0.5s;
            height: auto;
        }
    }

    .sale{
        position: absolute;
        z-index: 2;
        top: 10px;
        left: 10px;
        font-size: 14px;
        font-weight: bold;
        letter-spacing: 2px;
        padding: 6px 20px 6px 10px;
        color: #fff;
        text-transform: uppercase;
        background-color: #b61d83;
        text-shadow: 0px 1px 2px #bbb;
        -webkit-box-shadow: 0px 2px 4px #888;
        -moz-box-shadow: 0px 2px 4px #888;
        box-shadow: 0px 2px 4px #888;

        &:after {
            content: ' ';
            position: absolute;
            width: 0;
            height: 0;
            right: 0px;
            top: 100%;
            border-width: 5px 10px;
            border-style: solid;
            border-color:  #000 transparent transparent  #000;
        }

        &:before {
            content: ' ';
            position: absolute;
            width: 40px;
            height: 0;
            right: -20px;
            top: 12px;
            border-width: 16px 8px;
            border-style: solid;
            border-color: #b61d83 transparent #b61d83 #b61d83 ;
        }
    }
}

.blog-post-small{
    overflow: hidden;
    position: relative;
    .image{
        transition: all 0.5s;
        img{
            width: 100%;
            display: inline-block;
            vertical-align: middle;
            height: auto;
        }
    }

    .sale{
        position: absolute;
        top: 10px;
        right: 30px;
        font-size: 14px;
        font-weight: bold;
        letter-spacing: 2px;
        padding: 6px 20px 6px 10px;
        color: #fff;
        text-transform: uppercase;
        background-color: #b61d83;
        text-shadow: 0px 1px 2px #bbb;
        -webkit-box-shadow: 0px 2px 4px #888;
        -moz-box-shadow: 0px 2px 4px #888;
        box-shadow: 0px 2px 4px #888;

        &:after {
            content: ' ';
            position: absolute;
            width: 0;
            height: 0;
            right: 0px;
            top: 100%;
            border-width: 5px 10px;
            border-style: solid;
            border-color:  #000 transparent transparent  #000;
        }

        &:before {
            content: ' ';
            position: absolute;
            width: 40px;
            height: 0;
            right: -20px;
            top: 12px;
            border-width: 16px 8px;
            border-style: solid;
            border-color: #b61d83 transparent #b61d83 #b61d83 ;
        }
    }
}

.scale{
    transform: scale(1.2);
}

.wsp-category-title{
    display: none;
}

.js-open-popup{
    cursor: pointer;
}


ul.owl-carousel{
    padding: 0;
}

.blog-post-small .info .stat {
    font-size: 14px;
    font-weight: bold;
}

.blog-post .info .stat {
    font-size: 14px;
    font-weight: bold;
}


.form-extra{
    .wpcf7-response-output.wpcf7-mail-sent-ok{


            color: #000;
            position: absolute;
            left: 0;
            right: 0;
            margin: auto;
            z-index: 20;
            background: #fff;
            padding: 10px;
            border: 2px solid #b61d83;
            max-width: 290px;
            top: 5px;
            font-size: 15px;
            border-radius: 10px;
            background-color: #b61d8312;

    }

    .screen-reader-response{
        font-size: 0;
    }

}

.hero.piter{

}