.footer
{
    padding-top: 40px;
    padding-bottom: 10px;
    background-color: #fff;
    min-width: $wrapper-width;

    h3{
        color: $greyish-brown;
        font-weight: bold;
        font-size: 16px;
        margin-bottom: 15px;

        a{
            color: $greyish-brown;
            font-weight: bold;
            font-size: 16px;
            margin-bottom: 15px;
        }
    }

    p{
        margin: 0;
        font-size: 15px;
        letter-spacing: 0.3px;
    }

    &__link{
        display: inline-block;
        vertical-align: middle;
        font-size: 16px;
        letter-spacing: 0.6px;
        transition: all 0.5s;
        text-decoration: none;
        &:hover{
            color: $greyish-brown;
        }
    }

     &__name{
            color: $greyish-brown;
            font-size: 16px;
            border-bottom: 1px solid $gold;
            padding-bottom: 4px;
            margin-bottom: 5px;
            font-weight: bold;

            &:before{
                content: "\f1fc";
                display: inline-block;
                font: normal normal normal 14px/1 FontAwesome;
                font-size: inherit;
                text-rendering: auto;
                color: $gold;
                margin-right: 8px;
            }

        &:hover{
            &:before{
                animation: tada 2s;
            }
        }
    }

    &__adress{
        color: $greyish-brown;
        font-size: 16px;
        border-bottom: 1px solid $gold;
        padding-bottom: 4px;
        margin-bottom: 5px;

        &:before{
            content: "\f041";
            display: inline-block;
            vertical-align: middle;
            font: normal normal normal 14px/1 FontAwesome;
            font-size: inherit;
            text-rendering: auto;
            color: $gold;
            font-size: 16px;
            margin-right: 8px;
        }

        &:hover{
            &:before{
                animation: tada 2s;
            }
        }

        div{
            display: inline-block;
            vertical-align: middle;
        }
    }

     &__adress{
        color: $greyish-brown;
        font-size: 16px;
        border-bottom: 1px solid $gold;
        padding-bottom: 4px;
        margin-bottom: 5px;


        &:before{
            content: "\f041";
            display: inline-block;
            vertical-align: middle;
            font: normal normal normal 14px/1 FontAwesome;
            font-size: inherit;
            text-rendering: auto;
            color: $gold;
            font-size: 18px;
            margin-right: 8px;
        }

        &:hover{
            &:before{
                animation: tada 2s;
            }
        }

        div{
            display: inline-block;
            vertical-align: middle;
        }
    }



    &__hours{
        color: $greyish-brown;
        font-size: 16px;
        border-bottom: 1px solid $gold;
        padding-bottom: 4px;
        margin-bottom: 5px;

         &:before{
            content: "\f017";
            display: inline-block;
            vertical-align: middle;
            font: normal normal normal 14px/1 FontAwesome;
            font-size: inherit;
            text-rendering: auto;
            color: $gold;
            font-size: 18px;
            margin-right: 8px;
        }

        &:hover{
            &:before{
                animation: tada 2s;
            }
        }

        div, time{
            display: inline-block;
            vertical-align: middle;
        }
    }


    &__tel{

        border-bottom: 1px solid $gold;
        padding-bottom: 4px;
       a{
            color: #999;
            font-size: 16px;
            display: inline-block;
            vertical-align: middle;
            text-decoration: none;
            font-weight: bold;
        }

        &:before{
            content: "\f095";
            display: inline-block;
            vertical-align: middle;
            margin-right: 8px;
            font: normal normal normal 14px/1 FontAwesome;
            font-size: 18px;
            color: $gold;
        }

        &:hover{
            &:before{
                animation: tada 2s;
            }
        }
    }

    &__mail{
        font-size: 16px;
        border-bottom: 1px solid $gold;
        padding-bottom: 4px;
        margin-bottom: 5px;
        color: $greyish-brown;
        a{
            color: #999;
            font-size: 16px;
            display: inline-block;
            vertical-align: middle;
            text-decoration: none;
        }


        &:hover{
            &:before{
                animation: tada 2s;
            }
        }

        &:before{
            content: "\f0e0";
            display: inline-block;
            vertical-align: middle;
            font: normal normal normal 14px/1 FontAwesome;
            font-size: inherit;
            text-rendering: auto;
            color: $gold;
            font-size: 16px;
            margin-right: 8px;
        }
    }

     &__vk{
        font-size: 16px;
        border-bottom: 1px solid $gold;
        padding-bottom: 4px;
        margin-bottom: 5px;
        color: $greyish-brown;
        a{
            color: #999;
            font-size: 16px;
            display: inline-block;
            vertical-align: middle;
            text-decoration: none;
        }


        &:hover{
            &:before{
                animation: tada 2s;
            }
        }

        &:before{
            content: "\f189";
            display: inline-block;
            vertical-align: middle;
            font: normal normal normal 14px/1 FontAwesome;
            font-size: inherit;
            text-rendering: auto;
            color: $gold;
            font-size: 16px;
            margin-right: 8px;
        }
    }

    &__insta{
        font-size: 0;

        h3{
            a{
                margin-bottom: 0;
            }
        }
        a{
            display: inline-block;
            vertical-align: top;

            width: 33.3%;
            padding: 5px;
            padding-bottom: 10px;
            padding-top: 0;
            img{
                width: 100%;
            }

            &:hover{
                opacity: 0.8;
            }
        }
    }

    &__insta-link{
       a{
            color: #999;
            font-size: 16px;
            display: inline-block;
            vertical-align: middle;
            text-decoration: none;
        }


        &:hover{
            &:before{
                animation: tada 2s;
            }
        }

        &:before{
            content: "\f16d";
            display: inline-block;
            vertical-align: middle;
            font: normal normal normal 14px/1 FontAwesome;
            font-size: inherit;
            text-rendering: auto;
            color: $gold;
            font-size: 16px;
            margin-right: 8px;
        }
    }

    &__place{

        span{
            display: block;
            font-size: 16px;
            letter-spacing: 0.3px;
            color: #999;
        }
    }

     &__info{
        font-size: 16px;
        span{
            display: block;
            font-size: 16px;
            letter-spacing: 0.3px;
            color: #999;
            margin-bottom: 5px;
        }
    }
}

.footer__bottom{
    min-width: $wrapper-width;
    border-top: 2px solid #c2973c;
    padding-top: 10px;
    text-align: center;
    p{
        font-size: 10px;
        margin: 0 -10px;
    }
}