.galery{
    padding-bottom: 50px;

    h2{
            margin-bottom: 60px;
    }

    &__img{
        position: relative;
        margin-bottom: 20px;
        height: auto;

        &:hover{
            &:before{
                font-size: 30px;
                right: 30px;
                bottom: 30px;
            }

             .galery__img-l{
                transition: all .5s;
                left: 4%;
                top: 4%;
                height: 92%;
                z-index: 10;
             }
             .galery__img-r{
                transition: all .5s;
                right: 4%;
                top: 4%;
                height: 92%;
                z-index: 10;
             }
        }

        &:before{
            content: "\f00e";
            position: absolute;
            right: 10px;
            bottom: 10px;
            color: $gold;
            display: inline-block;
            font: normal normal normal 14px/1 FontAwesome;
            font-size: 20px;
            transition: all .5s;
            z-index: 10;
        }

        &-l{
            position: absolute;
            width: 3px;
            background-color: $gold;
            left: 0;
            top: 0;
            height: 100%;
            z-index: 10;

            &:before{
                content: "";
                display: inline-block;
                vertical-align: middle;
                background-color: $gold;
                position: absolute;
                top: 0%;
                left: 0;
                width: 16px;
                height: 3px;

            }

            &:after{
                content: "";
                display: inline-block;
                vertical-align: middle;
                background-color: $gold;
                position: absolute;
                bottom: 0%;
                left: 0;
                width: 16px;
                height: 3px;
            }
        }

        &-r{

            position: absolute;
            width: 3px;
            right: 0%;
            top: 0%;
            height: 100%;
            background-color:$gold;
            z-index: 10;
            &:before{
                content: "";
                display: inline-block;
                vertical-align: middle;
                background-color: $gold;
                position: absolute;
                top: 0%;
                right: 0px;
                width: 16px;
                height: 3px;

            }

            &:after{
                content: "";
                display: inline-block;
                vertical-align: middle;
                background-color: $gold;
                position: absolute;
                bottom: 0%;
                right: 0px;
                width: 16px;
                height: 3px;
            }
        }

        img{
            width: 100%;
            height: auto;
        }
    }

    &__desc{
        font-size: 14px;
    }

    &__title{
        font-size: 14px;
        color: $blue-basic;
    }

    &__link{
        color: $gold;
        display: inline-block;
        vertical-align: middle;
        background-color: #fff;
        padding: 20px 30px;
        text-decoration: none;
        text-transform: uppercase;
        letter-spacing: 1px;
        border-radius: 2px;
        font-size: 14px;
        border: 2px solid $gold;
        margin-top: 20px;
        transition: all 0.4s;
        position: relative;

        &:hover{
            background-color:$gold;
            color:  #fff;
            text-decoration: none;
            border: 2px solid $gold;
        }
    }
}

.portfolio-filters{
    span{
        display: inline-block;
        vertical-align: middle;
        padding: 10px 20px;
        margin: 0 10px;
        margin-bottom: 20px;
        border: 1px solid #000;
        font-size: 18px;
        background-color: $gold;
        color: #fff;
        cursor: pointer;
        transition: all .3s;
        &:hover{
            text-decoration: none;
            background-color: #fff;
            color: $gold;
        }
    }
    margin-bottom: 40px;
}

.single-work{

    &__content{

        width: 500px;
        height: auto;
        margin: auto;
        border:4px solid $gold;
        margin-bottom: 20px;

        img{
            display: inline-block;
            height: auto;
            width: 100%;
        }
    }

    &__info{
        padding: 20px;
        font-size: 16px;
        a{
            text-decoration: underline;
        }
    }

    &__links{
        text-align: center;
        a{
            display: inline-block;
            cursor: pointer;
            padding: 5px 10px;

        }

        &-portfolio{
            position: relative;
            letter-spacing: 0.3em;
            padding: 20px;
            padding-left: 81px;
            margin-bottom: 40px;
            border: 2px solid $gold;
        }


        &-nav{
            a{
                .fa{
                    margin: 0 5px;
                }

                &:first-child{
                float: left;
                }
                &:last-child{
                    float: right;
                }
            }

        }
    }
}

