.header
{
    &-tel{
        font-size: 25px;
        letter-spacing: 1.2px;
        color: $gold;
    }

    .fa-phone{
      margin-top: 18px;
      font-size: 25px;
    }

    &-ava{
       width: 134px;
       height: 134px;
       left: 93px;

       display: inline-block;
       vertical-align: middle;
       position: relative;
       overflow: hidden;

        /* Rotate */
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        transform: rotate(-45deg);

        /* Rotate Origin */
        -webkit-transform-origin: 0 100%;
        -moz-transform-origin: 0 100%;
        -ms-transform-origin: 0 100%;
        -o-transform-origin: 0 100%;
         transform-origin: 0 100%;

         img{
            position: absolute;
            -webkit-transform: rotate(45deg);
            -moz-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            -o-transform: rotate(45deg);
            transform: rotate(45deg);
            width: 142%;
            left: -25px;
            top: -30px;
         }
    }
}

.hero{
  position: relative;
  min-height: 517px;
  background-image: url("../img/hero_3.jpg");
  background-attachment: fixed;
  background-position: 40% 20%;
  background-size: cover;

  .container{
    overflow: hidden;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
  }

  &:before {
    content: "";
    min-height: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0,0.6);
  }

  h1{
    font-size: 30px;
    padding: 0;
    margin: 0 -17px;
    min-height: 41px;
    font-weight: 300;
    line-height: 41px;
    letter-spacing: 0.3em;
    text-transform: uppercase;
  }
}

.cover
{
  .one{
      top: -35px;
      left: 20px;
  }

  .two {
      top: -35px;
      left: 24px;
  }
}

header{
  .top-bar__logo{
      img{
          height: 38px;
      }
    }

    .sub-heading a{
      color: #fff;
    }

    .fa-phone{
      font-size: 25px;
      margin-top: 8px;
      margin-right: 8px;
    }
}