.links{
    font-size: 15px;

    &__title {
        font-size: 24px;
        font-weight: 700;
        line-height: 2.08;
        letter-spacing: .8px;
        color: #4a4a4a;
        padding-top: 0;
        margin-top: 0;
        margin-bottom: 20px;
        text-transform: none;

        &:after {
            content: "";
            display: block;
            width: 30px;
            height: 2px;
            background-color: $gold;
            margin-bottom: 18px;
        }
    }

    p{
        margin-bottom: 10px;
        font-size: 20px;
    }

    ul{
        margin-left: 0;
        padding-left: 0;
        list-style: none;
    }

    li{
        margin-bottom: 5px;
        display: inline-block;
        vertical-align: middle;
        width: 33%;

    }
}
