.offer{
    position: fixed;
    z-index: 1001;
    top: 200px;
    right: 0;
    min-height: 144px;
    background-color: $red;
    border: 2px solid #fff;
    border-right: none;
    transition: all 0.4s;
    overflow: hidden;

    // background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, $red);
    // background-size: 400% 400%;


    font-size: 0;
    width: 35px;

    &__front{
        display: inline-block;
        vertical-align: top;
        width: 35px;
        min-height: 140px;
        position: absolute;
        right: 0;
        top: 0;
        cursor: pointer;
        transition:all 0.4s;

        &:hover{
            background-color: rgba(182,29,31, 0.4);
            .diamond{
                .background{
                    transform:rotate(90deg);
                }
            }
        }
    }

    &__back{
        display: inline-block;
        vertical-align: top;
        width: 0;
        height: 140px;
        border: 1px solid $red;
        overflow: hidden;
        padding: 5px;
        padding-top: 25px;
        color:#fff;
        text-align: center;
        transform:translateX(35px);
        background-color: #fff;

        &-txt{

            p{
                margin-bottom: 10px;
                font-size: 16px;
                color: #999;
                line-height: initial;
            }
            span{
                color:$red;
            }
            .gold{
                color: $gold;
            }

            a{
                font-size: 16px;
            }
        }
        &-counter{
            font-size: 30px;
            color: #000;
        }
    }

    &__title{
        color:$red;
        font-weight: bold;
        font-size: 15px;
        letter-spacing: 1px;
        margin-bottom: 15px;
        text-transform: uppercase;
    }

    &__img{
        width: 35px;
        height: 37px;
        color: #fff;
        position: relative;
        border-bottom: 1px solid #fff;
        padding-bottom: 5px;
        margin-bottom: 13px;

        .diamond{
            width: 100%;
            height: 35px;


            .background{
                width: 20px;
                height: 20px;
                border: 1px solid #fff;
                top: 7px;
                right: 6px;
                left: inherit;
                background-color: $red;
                transition: all 0.4s;
                animation: rotate 8s linear infinite;
            }
            .icon{
                width: 18px;
                height: 18px;

                top: 11px;
                right: 4px;
                left: inherit;
                .fa{
                    position: absolute;
                    left: 0;
                    top: 0;
                    font-size: 10px;
                }
            }

        }
    }

    &__txt{
        color: #fff;
        font-size: 16px;
        transform: rotate(90deg);
        letter-spacing: 3px;
        text-transform: uppercase;
        position: absolute;
        right: -19px;
        top: 75px;
        font-weight: bold;
    }
}



.offer-img{
    padding-top: 50px;
    img{
        width: 100%;
    }
}

.offer--open{
    width: 300px;

    .offer__back{
        width: 264px;
        transform:translateX(0);
    }
}



.offer:after {
  content: "";
  position: absolute;
  top: -110%;
  left: -210%;
  width: 200%;
  height: 200%;
  opacity: 0;
  transform: rotate(30deg);
  animation: glare 5s ease infinite;

  background: rgba(255, 255, 255, 0.13);
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0.13) 0%,
    rgba(255, 255, 255, 0.13) 77%,
    rgba(255, 255, 255, 0.5) 92%,
    rgba(255, 255, 255, 0.0) 100%
  );
}

.offer:active:after {
  opacity: 0;
}


@keyframes glare {
    0% {
        top: -110%;
        left: -210%;
        opacity: 0;
    }

    20%, 100% {
        top: -30%;
        left: 200%;
        opacity: 1;
    }
}


@keyframes Gradient {
    0% {
        background-position: 50% 0%;
    }
    50% {
        background-position: 50% 100%;
    }
    100% {
        background-position: 50% 0%;
    }
}


@keyframes rotate {
    0% {
        transform:rotate(0deg);
    }

    100% {
        transform:rotate(360deg);
    }
}