.order{

      position: relative;
      min-height: 210px;
      background-image: url("../img/parallax-cv.jpg");
      background-attachment: fixed;
      background-position: 40% 20%;
      background-size: cover;

    &:before {
      content: "";
      min-height: 100%;
      background-image: url("../img/overlay.png");
      overflow: hidden;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
    }
}