.prices{

    text-align: left;
    padding-top: 55px;
    padding-bottom: 50px;
    border-bottom: 1px solid #bebebe;

    &__link{
        position: relative;
        transition: al .4s;

        &:hover{
            &:after{
                transform: translateX(5px);
            }
        }

        &:after{
            content: "\f0c1";
            margin-right: 5px;
            display: inline-block;
            font: normal normal normal 14px/1 FontAwesome;
            font-size: inherit;
            text-rendering: auto;
            color: $gold;
        }
    }



    &__main{
       font-size: 20px;
       font-weight: bold;
       text-transform: uppercase;
       background-color:rgba(194,151,60, 0.7);
    }

    .prices__del{

        /*
        transform: translateX(-40px);
        del{
            position: relative;
            color: #000;
            margin-right: 10px;


            &:before{
                content: "";
                position: absolute;
                left: -6px;
                top: 9px;
                width: 80px;
                height: 3px;
                background-color: #000;
            }
        }
        */


            color: $red;


    }

    table {
        width: 100%;
        position: relative;
        border-collapse: collapse;
        border-spacing: 0;
        font-size: 18px;

        &:after {
            content: "";
            background-image: url(../img/machine.png);
            background-size: cover;
            position: absolute;
            margin: auto;
            width: 40px;
            height: 40px;
            bottom: 10px;
            right: 10px;
        }

        thead{
            border-bottom: 2px solid #bebebe;
            font-weight: bold;
        }

        tbody{
            position: relative;
            box-shadow: 0 0 25px 0 rgba(210, 228, 241, 0.5);
        }

        tr{

            border-left: 0;
            border-right: 0;
            color: $greyish-brown;
            /*
            &:nth-child(2n) {
                background-color:rgba(194,151,60, 0.7);;
                border: 1px solid #000;
            }
            */

            td:nth-child(2n){
                font-weight: bold;
            }
        }

        td,th{
            display: table-cell;
            vertical-align: middle;
            padding: 10px;
            text-align: left;
            position: relative;
            a{
                color: $greyish-brown;
                text-decoration: underline;
                &:hover{
                    text-decoration: none;
                }
            }
        }
    }

    .sale-secret{
        font-size: 35px;
        color: #ff0d29;
    }

    .sale{
        position: absolute;
        top: -20px;
        left: 82px;
        font-size: 14px;
        font-weight: bold;
        letter-spacing: 2px;
        padding: 6px 20px 6px 10px;
        color: #fff;
        background-color: #b61d83;
        text-shadow: 0px 1px 2px #bbb;
        -webkit-box-shadow: 0px 2px 4px #888;
        -moz-box-shadow: 0px 2px 4px #888;
        box-shadow: 0px 2px 4px #888;

        &:after {
            content: ' ';
            position: absolute;
            width: 0;
            height: 0;
            right: 0px;
            top: 100%;
            border-width: 5px 10px;
            border-style: solid;
            border-color:  #000 transparent transparent  #000;
        }

        &:before {
            content: ' ';
            position: absolute;
            width: 40px;
            height: 0;
            right: -20px;
            top: 12px;
            border-width: 16px 8px;
            border-style: solid;
            border-color: #b61d83 transparent #b61d83 #b61d83 ;
        }
    }

    .relative{
        position: relative;

         &:before {
            content: "\f095     Звоните!";
            display: inline-block;
            font: normal normal normal 14px/1 FontAwesome;
            z-index: 2;
            position: absolute;
            top: 12px;
            font-size: 20px;
            left: 130px;
        }
        &:after{
            content: "";
            position: absolute;
            top: 23px;
            left: 0;
            height: 3px;
            width: 100px;
            z-index: 2;
            background-color: #ff0d29;
        }


    }
}

.prices table .pl-30{
  padding-left: 30px;
}

.prices table .pl-20{
  padding-left: 20px;
}



.popup-price{
    position: absolute;
    padding: 30px;
    border: 2px solid #c2973c;
    background-color: rgba(0,0,0,0.8);
    width: 550px;
    .popup-price__close{
        position: absolute;
        top: 10px;
        right: 10px;
        color: #c2973c;
        padding: 2px;
        font-size: 20px;
        cursor: pointer;
    }

    p{
        span{
            color: #c2973c;
            text-transform: uppercase;
        }
    }
}