.sure{
    min-height: 400px;
    background-color: $grey-light;
    padding: 40px 0;
    font-size: 0;

    &__title{
        text-align: center;
        color: $grey-basic;
        margin-bottom: 20px;
        font-size: 20px;
    }

    &__txt{
        width: 500px;
        margin: 0 auto;
        text-align: center;
        margin-bottom: 40px;
        font-size: 15px;
    }

    &__facts{
        display: inline-block;
        vertical-align: top;
        width: 33.33333333%;
        font-size: 15px;

        &-item{
            padding-top: 120px;
            text-align: center;
        }

        &-title{
            display: inline-block;
            vertical-align: middle;
            text-align: center;
            margin-bottom: 20px;
        }

        &-txt{
            margin-bottom: 20px;
        }

    }

    &__img{
        display: inline-block;
        vertical-align: middle;
        width: 33.33333333%;
        img{
            width: 100%;
        }
    }
}