/*
@import 'modules/theme/bootstrap.css';
@import 'modules/theme/styles.css';
@import 'modules/theme/retina.css';
@import 'modules/theme/small.css';
@import 'modules/theme/medium.css';
@import 'modules/theme/less.css';
@import 'modules/theme/less-small.css';
@import 'modules/theme/gold.css';
*/

/*Colors*/

/*OLD-COLORS*/

/*BG*/

/*Sizes*/

/*Wrappers*/
.img-wrap-post {
    text-align: center;
    margin-bottom: 40px;
}
.img-wrap-post img {
    display: inline-block;
    vertical-align: middle;
    width: 800px;
    height: auto;
}
.col-1 {
    width: 8.33333333%;
}
.col-2 {
    width: 16.66666667%;
}
.col-3 {
    width: 25%;
}
.col-4 {
    width: 33.33333333%;
}
.col-5 {
    width: 41.66666667%;
}
.col-6 {
    width: 50%;
}
.col-7 {
    width: 58.33333333%;
}
.col-8 {
    width: 66.66666667%;
}
.col-9 {
    width: 75%;
}
.col-10 {
    width: 83.33333333%;
}
.col-11 {
    width: 91.66666667%;
}
.col-12 {
    width: 100%;
}
.wrapper {
    margin: 0 auto;
    padding: 0 15px;
    width: 970px;
}
.line {
    font-size: 0;
    margin: 0 -20px;
}
.line [class^=col-] {
    display: inline-block;
    vertical-align: top;
    padding: 0 20px;
    font-size: 16px;
}
.clearfix {}
.clearfix:after, .clearfix:before {
    content: "";
    display: table;
    clear: both;
}
.mb-50 {
    margin-bottom: 50px;
}
.mb-100 {
    margin-bottom: 100px;
}
.pt-50 {
    padding-top: 50px;
}
.pt-20 {
    padding-top: 20px;
}
.bb {
    border-bottom: 2px solid #c2973c;
}
.bt {
    border-top: 2px solid #c2973c;
}
.mb-0 {
    margin-bottom: 0;
}
.mt-100 {
    margin-top: 100px;
}
.pl-30 {
    padding-left: 30px;
}
.tac {
    text-align: center;
}
.tar {
    text-align: right;
}
.txt .p-20 p {
    margin-bottom: 20px;
}
.img-wrap {
    border: 2px solid #c2973c;
}
.img-wrap img {
    width: 100%;
    height: auto;
}
.gold {
    color: #c2973c;
}
.form-order {
    min-height: 290px;
    text-align: center;
}
.form-order form {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    z-index: 1;
}
.form-order form input {
    display: block;
    width: 250px;
    height: 56px;
    border-radius: 100px;
    border: solid 1px #ffffff;
    background-color: transparent;
    color: #fff;
    padding-left: 31px;
    margin-bottom: 28px;
    outline: none;
}
.form-order form input[type=submit] {
    cursor: pointer;
    padding: 0;
    background-color: #4a90e2;
    border: none;
    transition: all 0.5s;
}
.form-order form input[type=submit]:hover {
    background-color: #51baa4;
}
.popup {
    display: none;
    position: fixed;
    top: 0;
    width: 100%;
    min-height: 100%;
    background-color: rgba(0,0,0,.7);
    overflow: hidden;
    z-index: 3000000000;
}
/*должно быть 10 но оптимизатор тупит*/
.popup form {
    width: 570px;
    min-height: 449px;
    background-color: #fff;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
            transform: translateX(-50%) translateY(-50%);
}
.popup form .popup-form__head {
    display: inline-block;
    vertical-align: middle;
    margin-top: 68px;
    margin-bottom: 51px;
    max-width: 370px;
    font-size: 24px;
    font-weight: bold;
    line-height: 1.08;
    letter-spacing: 0.5px;
    color: #c2973c;
}
.popup form .popup-form__head:after, .popup form .popup-form__head:before {
    content: "";
    display: table;
    clear: both;
}
.popup form .popup-form__close {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 32px;
    height: 32px;
    font-size: 26px;
    cursor: pointer;
    color: #c2973c;
    background-repeat: no-repeat;
}
.popup form .popup-form__close:after, .popup form .popup-form__close:before {
    content: "";
    display: table;
    clear: both;
}
.popup form > span {
    display: block;
    position: relative;
    width: 317px;
    color: #c2973c;
    margin: 0 auto;
}
.popup form > span:nth-of-type(2) {
    position: relative;
}
.popup form > span:nth-of-type(2):before {
    content: "\f095";
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    color: #c2973c;
    font-size: 20px;
    position: absolute;
    top: 20px;
    left: 15px;
}
.popup form > span:nth-of-type(2):after {
    content: "";
    display: inline-block;
    width: 2px;
    height: 37px;
    background: #c2973c;
    position: absolute;
    top: 10px;
    left: 40px;
}
.popup form >button {}
.popup form > span:first-of-type {
    position: relative;
}
.popup form > span:first-of-type:before {
    content: "\f007";
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    color: #c2973c;
    font-size: 20px;
    position: absolute;
    top: 20px;
    left: 15px;
}
.popup form > span:first-of-type:after {
    content: "";
    display: inline-block;
    width: 2px;
    height: 37px;
    background: #c2973c;
    position: absolute;
    top: 10px;
    left: 40px;
}
.popup form input {
    display: block;
    width: 317px;
    height: 56px;
    padding-left: 60px;
    margin-bottom: 22px;
    outline: none;
    text-transform: uppercase;
    letter-spacing: 0.2em;
}
.popup form input[type=submit] {
    cursor: pointer;
    padding: 0;
    background-color: #4a90e2;
    color: #fff;
    border: none;
    transition: all 0.5s;
}
.popup form input[type=submit]:hover {
    background-color: #51baa4;
}
.popup form div.wpcf7-response-output {
    color: #000;
}
.popup--MessageAfter {
    display: block;
}
.popup--MessageAfter p {
    font-size: 16px;
    line-height: 20px;
}
.popup--MessageAfter__inner {
    position: relative;
    width: 290px;
    min-height: 420px;
    padding: 50px 30px;
    padding-top: 70px;
    background-color: #fff;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
            transform: translateX(-50%) translateY(-50%);
}
.popup--MessageAfter__inner:after {
    content: "";
    background-image: url(../img/machine.png);
    background-size: cover;
    position: absolute;
    margin: auto;
    width: 40px;
    height: 40px;
    bottom: 10px;
    right: 10px;
}
.popup--MessageAfter__title {
    font-size: 19px!important;
    margin-bottom: 15px;
    color: #c2973c;
}
.popup--MessageAfter__close {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 32px;
    height: 32px;
    font-size: 26px;
    cursor: pointer;
    color: #c2973c;
    background-repeat: no-repeat;
}
.popup--MessageAfter__img {
    border-radius: 50%;
    border: 2px solid #c2973c;
    max-width: 200px;
}
.form-extra {
    min-height: 370px;
    padding: 90px 0;
    text-align: center;
    position: relative;
}
.form-extra form p > span:first-of-type {
    position: relative;
}
.form-extra form p > span:first-of-type:before {
    content: "\f007";
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    color: #c2973c;
    font-size: 20px;
    position: absolute;
    top: 22px;
    left: 35px;
}
.form-extra form p > span:first-of-type:after {
    content: "";
    display: inline-block;
    width: 2px;
    height: 37px;
    background: #c2973c;
    color: #c2973c;
    position: absolute;
    top: 12px;
    left: 60px;
}
.form-extra form p > span:last-of-type {
    position: relative;
}
.form-extra form p > span:last-of-type:before {
    content: "\f095";
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    color: #c2973c;
    font-size: 20px;
    position: absolute;
    top: 22px;
    left: 35px;
}
.form-extra form p > span:last-of-type:after {
    content: "";
    display: inline-block;
    width: 2px;
    height: 37px;
    background: #c2973c;
    color: #c2973c;
    position: absolute;
    top: 12px;
    left: 60px;
}
.form-extra input {
    display: inline-block;
    vertical-align: top;
    width: 250px;
    height: 61px;
    padding-left: 50px;
    margin: 0 20px;
    margin-bottom: 20px;
    outline: none;
    color: #c2973c;
    text-transform: uppercase;
    letter-spacing: 0.3em;
}
.form-extra button {
    display: inline-block;
    vertical-align: top;
    background-color: #c2973c;
    color: #fff;
    transition: all 0.5s;
}
.form-extra button .icon {
    border-right-color: #fff;
    transition: all 0.5s;
}
.form-extra button:hover .icon {
    border-right-color: #c2973c;
}
.form-extra input[type=submit] {
    cursor: pointer;
    padding: 0;
    background-color: #4a90e2;
    color: #fff;
    border: none;
    transition: all 0.5s;
}
.form-extra input[type=submit]:hover {
    background-color: #51baa4;
}
.form-extra form div.wpcf7-validation-errors {
    color: #4a90e2;
}
.form-extra__title {
    font-size: 24px;
    font-weight: bold;
    line-height: 1.75;
    letter-spacing: 0.5px;
    padding: 0;
    margin: 0;
    color: #b61d83;
}
.form-extra__sub-title {
    font-size: 18px;
    font-weight: normal;
    line-height: 2.33;
    letter-spacing: 0.4px;
    color: #4a4a4a;
    padding: 0;
    margin-top: 0;
    margin-bottom: 43px;
}
.feedback-form {
    min-height: 370px;
    padding: 50px 0;
    font-size: 0;
}
.feedback-form input {
    display: inline-block;
    vertical-align: middle;/*width: 48%; убрано из-за совместимости с wp cf7*/
    width: 430px;
    height: 56px;
    border-radius: 100px;
    border: solid 1px #bebebe;
    padding-left: 31px;
    outline: none;
    font-size: 18px;
    background: rgba(144, 144, 144, 0.075);
    border-radius: 4px;
    border: none;
    border: solid 1px rgba(144, 144, 144, 0.25);
    color: inherit;
    outline: 0;
    text-decoration: none;
}
.feedback-form button {
    float: right;
    letter-spacing: 0.2em;
}
.feedback-form button:hover {
    letter-spacing: .2em;
}
/*
    input[type=submit]{
        cursor: pointer;
        padding: 0;
        background-color: $gold;
        color: #fff;
        border: none;
        transition: all 0.5s;
        float: right;
        width: auto;
        padding-left: 25px;
        padding-right: 25px;
        transition: all .5s;
        &:hover{
            background-color: $dark-sky-blue;
        }
    }
*/
.feedback-form input[type=radio] {
    cursor: pointer;
    height: 20px;
    background: none;
}
.feedback-form label {/*width: 20%; убрано для совместимости с wp cf7*/
    display: inline-block;
    vertical-align: middle;
    font-size: 18px;
    color: #bebebe;
    margin-bottom: 20px;
}
.feedback-form textarea {
    background: rgba(144, 144, 144, 0.075);
    border-radius: 4px;
    border: none;
    border: solid 1px rgba(144, 144, 144, 0.25);
    color: inherit;
    display: block;
    outline: 0;
    padding: 20px;
    text-decoration: none;
    min-height: 200px;
    width: 100%;
    font-size: 18px;
    margin-bottom: 20px;
}
.feedback-form:after, .feedback-form:before {
    content: "";
    display: table;
    clear: both;
}
.feedback-form__head {
    margin-bottom: 20px;
}
.feedback-form__head span {}
.feedback-form__head span:first-child {
    float: left;
    width: auto;
}
.feedback-form__head span:last-child {
    float: right;
    width: auto;
}
.feedback-form__head:after, .feedback-form__head:before {
    content: "";
    display: table;
    clear: both;
}
input:checked + span {
    color: #4a90e2;
}
form p {
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
}
form span.wpcf5-not-valid-tip {
    color: #fff;
}
form div.wpcf7-response-output {
    margin: 0;
    color: #fff;
}
form div.wpcf7-validation-errors {
    border: 2px solid  #4a90e2;
}
form span {
    display: inline-block;
    vertical-align: middle;
}
form .wpcf7-form-control-wrap {
    width: 100%;
}
form input {
    margin: 0 auto;
}
form .text-613 {
    width: auto;
}
form .tel-845 {
    width: auto;
}
#wpcf7-f243-o1 .wpcf7-response-output {
    color: #4a90e2;
}
#wpcf7-f295-o1 .wpcf7-radio {
    width: 100%;
    text-align: center;
}
#wpcf7-f295-o1 span.wpcf7-list-item {
    width: 20%;
}
#wpcf7-f295-o1 .text-288 {
    float: left;
    width: 48%;
}
#wpcf7-f295-o1 .text-61 {
    float: right;
    width: 48%;
}
#wpcf7-f295-o1 .wpcf7-response-output {
    font-size: 13px;
    color: #4a90e2;
    width: 50%;
}
.sub-title {
    text-align: center;
    margin-bottom: 50px;
}
.sub-title h2 {
    margin: 5px 0 0 0;
}
/*
body {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
    margin: 0;
}


.title{
    @mixin title;
}

.bb{
    border-bottom: 1px solid $pinkish-grey;
}



img{
    width: 100%;
}
*/

.advantages {
    padding-bottom: 50px;
    padding-top: 50px;
    text-align: center;
    color: #4a4a4a;
    min-width: 970px;
}

.advantages__item {
    display: inline-block;
    vertical-align: top;
}

.advantages__item:hover {}

.advantages__item:hover:before {/*transform: scale(1.2, 1.2);*/
    -webkit-animation: tada 2s;
            animation: tada 2s;
}

.advantages__item:before {
    content: "";
    display: block;
    width: 95px;
    height: 95px;
    font: normal normal normal 14px/1 FontAwesome;
    margin: 0 auto;
    margin-bottom: 35px;
    border: 1px solid #c2973c;
    font-size: 35px;
    color: #c2973c;
    border-radius: 50%;
    padding-top: 28px;
}

.advantages__item--quality {}

.advantages__item--quality:before {
    content: "\f015";
}

.advantages__item--expert {}

.advantages__item--expert:before {
    content: "\f19d";
}

.advantages__item--love {}

.advantages__item--love:before {
    content: "\f08a";
}

.advantages__item--responsibility {}

.advantages__item--responsibility:before {
    content: "\f290";
}

.advantages__item-title {
    display: inline-block;
    vertical-align: middle;
    font-weight: 600;
    font-size: 18px;
    margin-bottom: 7px;
    text-transform: none;
    letter-spacing: 0.1px;
}

.advantages__item-txt {
    width: 220px;
    margin: 0 auto;
}
.fa-street-view {
    font-size: 120px;
    color: #c2973c;
    margin-top: 20px;
}
.contacts-tel {
    color: #c2973c;
    font-size: 20px;
    margin-left: 10px;
    font-weight: bold;
}
.numbers {
    padding: 50px 0;
    text-align: center;
    min-width: 970px;
    border-bottom: 2px solid #c2973c;
    color: #c2973c;
}
.numbers #js-numbers__number--ref {}
.numbers #js-numbers__number--ref:after {
    content: "+";
}
.numbers #js-numbers__number--rate {}
.numbers #js-numbers__number--rate:after {
    content: "+";
}
.numbers__number {
    display: block;
    text-align: center;
    font-size: 40px;
    color: #c2973c;
    font-weight: bold;
    margin-bottom: 16px;
}
.numbers__txt {
    color: #c2973c;
    margin: 0 auto;
    text-align: center;
    font-size: 21px;
    width: 165px;
}
.steps {
    padding: 50px 0;
    text-align: center;
    min-width: 970px;
    color: #999;
}
.steps__title {
    display: block;
    position: relative;
    z-index: 2;
    font-size: 20px;
    font-weight: 600;
    font-size: 18px;
    color: #333;
    margin-bottom: 2px;
}
.steps__txt {
    position: relative;
    z-index: 2;
    width: 180px;
    margin: 0 auto;
    color: #333;
}
.steps__txt .diamond {
    position: absolute;
    display: inline-block;
    vertical-align: middle;
    left: 0;
    color: #fff;
    bottom: -10px;
}
.steps:hover .step {}
.steps:hover .step:after {
    -webkit-animation: go-go 1s ease-out infinite alternate;
            animation: go-go 1s ease-out infinite alternate;
}
.step {
    position: relative;
    background-repeat: no-repeat;
    background-position: 50%;
    padding-top: 75px;
    padding-bottom: 60px;
}
.step--one {}
.step--one:before {
    content: "1";
    position: absolute;
    top: -80px;
    left: 60px;
    color: rgba(194,151,58,0.6);
    font-size: 260px;
}
.step--one:after {
    content: "";
    position: absolute;
    border: 25px solid transparent;
    border-left: 43px solid rgba(194,151,58,0.6);
    right: -70px;
    top: 90px;
}
.step--two {}
.step--two:before {
    content: "2";
    position: absolute;
    top: -80px;
    left: 60px;
    color: rgba(194,151,58,0.6);
    font-size: 260px;
}
.step--two:after {
    content: "";
    position: absolute;
    border: 25px solid transparent;
    border-left: 43px solid rgba(194,151,58,0.6);
    right: -70px;
    top: 90px;
}
.step--three {}
.step--three:before {
    content: "3";
    position: absolute;
    top: -80px;
    left: 60px;
    color: rgba(194,151,58,0.6);
    font-size: 260px;
}
@-webkit-keyframes go-go {
    from {
        -webkit-transform: translate(0);
                transform: translate(0);
    }
    to {
        -webkit-transform: translate(50px,0);
                transform: translate(50px,0);
    }
}
@keyframes go-go {
    from {
        -webkit-transform: translate(0);
                transform: translate(0);
    }
    to {
        -webkit-transform: translate(50px,0);
                transform: translate(50px,0);
    }
}
@-webkit-keyframes go-go-down {
    from {
        -webkit-transform: translate(0);
                transform: translate(0);
    }
    to {
        -webkit-transform: translate(0,30px);
                transform: translate(0,30px);
    }
}
@keyframes go-go-down {
    from {
        -webkit-transform: translate(0);
                transform: translate(0);
    }
    to {
        -webkit-transform: translate(0,30px);
                transform: translate(0,30px);
    }
}
@-webkit-keyframes spin {
    from {
        -webkit-transform: rotate(45deg);
                transform: rotate(45deg);
    }
    to {
        -webkit-transform: rotate(315deg);
                transform: rotate(315deg);
    }
}
@keyframes spin {
    from {
        -webkit-transform: rotate(45deg);
                transform: rotate(45deg);
    }
    to {
        -webkit-transform: rotate(315deg);
                transform: rotate(315deg);
    }
}
.breadcrumbs {
    font-size: 0;
    padding: 20px 0;
    margin-bottom: 20px;
    background-color: #f3f3f3;
    color: #4a4a4a;
}
.breadcrumbs ul {
    margin-left: 0;
    padding-left: 0;
}
.breadcrumbs li {
    display: inline-block;
    vertical-align: middle;
    font-size: 15px;
}
.breadcrumbs li div {
    display: inline-block;
    vertical-align: middle;
}
.breadcrumbs li a {
    text-decoration: none;
    color: #4a4a4a;
    transition: color 0.5s;
}
.breadcrumbs li a:hover {
    color: #c2973c;
}
.breadcrumbs li h1 {
    display: inline-block;
    vertical-align: middle;
    font-size: 15px;
    padding: 0;
    margin: 0;
    font-weight: normal;
}
.breadcrumbs li + li:before {
    display: inline-block;
    vertical-align: bottom;
    padding: 0 0 0 7px;
    content: "/\00a0";
}
.certificate {
    padding-bottom: 50px;
    padding-top: 50px;
    text-align: center;
    color: #4a4a4a;
    min-width: 970px;
}
.certificate h2 {
    text-align: center;
}
.team {
    padding-top: 55px;
    padding-bottom: 50px;
}
.team ul {
    margin: 0;
    padding: 0;
    font-size: 0;
    margin: 0 -20px;
}
.team ul li {
    display: inline-block;
    vertical-align: middle;
    width: 33.333333%;
    padding: 0 20px;
    margin-bottom: 40px;
    text-align: center;
    opacity: 0.9;
}
.team ul p {
    font-size: 15px;
    color: #fff;
    margin: 0;
    padding: 0;
}
.team ul span {
    font-size: 18px;
    display: block;
    letter-spacing: .5px;
    font-weight: bold;
}
.team__title {
    font-size: 24px;
    font-weight: bold;
    line-height: 2.08;
    letter-spacing: 0.8px;
    color: #4a4a4a;
    padding-top: 0;
    margin-top: 0;
}
.team__title:after {
    content: "";
    display: block;
    width: 30px;
    height: 2px;
    background-color: #c2973c;
    margin-bottom: 18px;
}
.team__img {
    position: relative;
    overflow: hidden;
    width: 100%;
}
.team__img img {
    transition: all 0.6s;
    height: 435px;
    width: 100%;
}
.team__img:hover img {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
}
.team__diamond {
    position: absolute;
    z-index: 10;
    bottom: 57px;
    left: 10px;
}
.team__txt {
    z-index: 2;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    color: #fff;
    margin: auto;
    padding: 7px 0;
    padding-left: 20px;
    background-color: rgba(194,151,60, .9);
}
.faq {
    padding: 54px 0;
    font-size: 0;
}
.faq__title {
    font-size: 36px;
    font-weight: bold;
    line-height: 1.17;
    letter-spacing: 0.8px;
    margin-bottom: 52px;
    color: #4a4a4a;
}
.faq__list {
    display: inline-block;
    vertical-align: top;
    padding: 0;
    margin: 0;
}
.faq__list-li {
    display: inline-block;
    vertical-align: top;
    width: 50%;
    margin-bottom: 15px;
}
.faq__list-li p {
    margin-bottom: 20px;
}
.faq__list-li ul {
    margin-bottom: 20px;
    color: #999;
    font-size: 15px;
    list-style: none;
}
.faq__list-li ul li:before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 5px;
    height: 5px;
    background-color: #c2973c;
    border: 1px solid #c2973c;
    margin-right: 10px;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
}
.faq__list-li:before {
    content: "\f29c";
    display: inline-block;
    vertical-align: top;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: 40px;
    color: #c2973c;
    margin-right: 12px;
    margin-top: 8px;
}
.faq__q {
    display: inline-block;
    vertical-align: top;
    max-width: 420px;
}
.faq__q p {
    font-size: 18px;
    font-weight: bold;
    line-height: 1.5;
    letter-spacing: 0.4px;
    color: #4a4a4a;
    padding: 0;
    margin: 0;
}
.faq__q span {
    display: inline-block;
    vertical-align: middle;
    padding: 0;
    margin: 0;
    font-size: 14px;
    font-weight: 600;
    line-height: 1.5;
    color: #c2973c;
    cursor: pointer;
}
.faq__q span:after {
    content: "\f0a7";
    font: normal normal normal 14px/1 FontAwesome;
    display: inline-block;
    vertical-align: middle;
    margin-left: 5px;
}
.faq__q--open span {}
.faq__q--open span:after {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
}
.faq__a {
    display: none;
    padding-left: 50px;
    padding-top: 20px;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.5;
    color: #4a4a4a;
}
.faq .faq__list li:hover {}
.faq .faq__list li:hover:before {
    -webkit-animation: bounce 2s;
            animation: bounce 2s;
}
.prices {
    text-align: left;
    padding-top: 55px;
    padding-bottom: 50px;
    border-bottom: 1px solid #bebebe;
}
.prices .prices__del {/*
        transform: translateX(-40px);
        del{
            position: relative;
            color: #000;
            margin-right: 10px;


            &:before{
                content: "";
                position: absolute;
                left: -6px;
                top: 9px;
                width: 80px;
                height: 3px;
                background-color: #000;
            }
        }
        */
    color: #b61d83;
}
.prices table {
    width: 100%;
    position: relative;
    border-collapse: collapse;
    border-spacing: 0;
    font-size: 18px;
}
.prices table thead {
    border-bottom: 2px solid #bebebe;
    font-weight: bold;
}
.prices table tbody {
    position: relative;
    box-shadow: 0 0 25px 0 rgba(210, 228, 241, 0.5);
}
.prices table tr {
    border-left: 0;
    border-right: 0;
    color: #4a4a4a;
}
/*
            &:nth-child(2n) {
                background-color:rgba(194,151,60, 0.7);;
                border: 1px solid #000;
            }
            */
.prices table tr td:nth-child(2n) {
    font-weight: bold;
}
.prices table td, .prices table th {
    display: table-cell;
    vertical-align: middle;
    padding: 10px;
    text-align: left;
    position: relative;
}
.prices table td a, .prices table th a {
    color: #4a4a4a;
    text-decoration: underline;
}
.prices table td a:hover, .prices table th a:hover {
    text-decoration: none;
}
.prices table:after {
    content: "";
    background-image: url(../img/machine.png);
    background-size: cover;
    position: absolute;
    margin: auto;
    width: 40px;
    height: 40px;
    bottom: 10px;
    right: 10px;
}
.prices .sale-secret {
    font-size: 35px;
    color: #ff0d29;
}
.prices .sale {
    position: absolute;
    top: -20px;
    left: 82px;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 2px;
    padding: 6px 20px 6px 10px;
    color: #fff;
    background-color: #b61d83;
    text-shadow: 0px 1px 2px #bbb;
    box-shadow: 0px 2px 4px #888;
}
.prices .sale:after {
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    right: 0px;
    top: 100%;
    border-width: 5px 10px;
    border-style: solid;
    border-color: #000 transparent transparent  #000;
}
.prices .sale:before {
    content: ' ';
    position: absolute;
    width: 40px;
    height: 0;
    right: -20px;
    top: 12px;
    border-width: 16px 8px;
    border-style: solid;
    border-color: #b61d83 transparent #b61d83 #b61d83 ;
}
.prices .relative {
    position: relative;
}
.prices .relative:before {
    content: "\f095     Звоните!";
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    z-index: 2;
    position: absolute;
    top: 12px;
    font-size: 20px;
    left: 130px;
}
.prices .relative:after {
    content: "";
    position: absolute;
    top: 23px;
    left: 0;
    height: 3px;
    width: 100px;
    z-index: 2;
    background-color: #ff0d29;
}
.prices__link {
    position: relative;
    transition: al .4s;
}
.prices__link:hover {}
.prices__link:hover:after {
    -webkit-transform: translateX(5px);
            transform: translateX(5px);
}
.prices__link:after {
    content: "\f0c1";
    margin-right: 5px;
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    color: #c2973c;
}
.prices__main {
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    background-color: rgba(194,151,60, 0.7);
}
.prices table .pl-30 {
    padding-left: 30px;
}
.prices table .pl-20 {
    padding-left: 20px;
}
.popup-price {
    position: absolute;
    padding: 30px;
    border: 2px solid #c2973c;
    background-color: rgba(0,0,0,0.8);
    width: 550px;
}
.popup-price .popup-price__close {
    position: absolute;
    top: 10px;
    right: 10px;
    color: #c2973c;
    padding: 2px;
    font-size: 20px;
    cursor: pointer;
}
.popup-price p span {
    color: #c2973c;
    text-transform: uppercase;
}
.feedbacks {
    position: relative;
    z-index: 0;
    padding: 100px 0;
    min-width: 970px;
}
.feed {
    position: relative;
    min-height: 450px;
    background-image: url("../img/bg_1.jpg");
    background-attachment: fixed;
    background-position: 40% 20%;
    background-size: cover;
}
.feed .hero-heading {
    color: #fff;
}
.feed .testimonials-box {
    position: relative;
}
.feed .testimonials-box__links {
    position: absolute;
    right: 35px;
    bottom: 25px;
    font-size: 15px;
    transition: all 0.5s;
}
.feed .testimonials-box__links a {
    display: inline-block;
    vertical-align: middle;
    color: #fff;
    position: relative;
    text-decoration: underline;
}
.feed .testimonials-box__links a:hover {
    color: #fff;
}
.feed .testimonials-box__links a:before {
    content: "\f0c0";
    font: normal normal normal 14px/1 FontAwesome;
    margin-right: 5px;
    color: #fff;
}
.feed .testimonials-name {
    display: inline-block;
    vertical-align: middle;
    color: #fff;
    text-decoration: underline;
}
.feed__link {
    position: relative;
    color: #fff;
    display: inline-block;
    vertical-align: middle;
    padding: 20px 30px;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1px;
    border-radius: 2px;
    font-size: 14px;
    border: 2px solid #c2973c;
    margin-top: 20px;
    position: relative;
}
.feed__link:hover {
    text-decoration: none;
    color: #fff;
    border: 2px solid #fff;
}
.feed:before {
    content: "";
    min-height: 100%;
    background-image: url("../img/overlay.png");
    overflow: hidden;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.feedbacks-list {
    font-size: 0;
    cursor: move;
    padding: 0 100px;
}
.feedbacks-list__txt {
    display: inline-block;
    vertical-align: middle;
    font-size: 20px;
    width: 500px;
}
.feedbacks-list__img {
    display: inline-block;
    vertical-align: middle;
    margin-right: 45px;
    border-radius: 50%;
}
.feedbacks-list__name {
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    color: #4a4a4a;
}
.feedbacks-list__q {
    margin: 0;
    font-size: 14px;
    color: #4a4a4a;
}
.feedbacks-all {
    padding-top: 55px;
    padding-bottom: 50px;
    color: #4a4a4a;
    text-align: center;
    font-size: 0;
}
.feedbacks-all blockquote {
    margin: 0;
    padding: 10px 0;
    color: #4a4a4a;
    border: 0;
}
.feedbacks-all blockquote p {
    color: #4a4a4a;
    text-align: left;
}
.feedbacks-all blockquote:before {
    content: "";
}
.feedbacks-all ul {
    display: inline-block;
    vertical-align: middle;
    margin: 0;
    padding: 0;
    list-style: none;
}
.feedbacks-all ul li {
    margin-bottom: 20px;
    min-height: 100px;
    background-color: #f3f3f3;
    padding: 20px;
}
.feedbacks-all__info {
    display: inline-block;
    vertical-align: top;
    width: 30%;
    font-size: 12px;
}
.feedbacks-all__info img {
    width: 145px;
    height: 145px;
    border-radius: 50%;
    border: 2px solid #c2973c;
}
.feedbacks-all__txt {
    display: inline-block;
    vertical-align: top;
    width: 70%;
}
.feedbacks-all__date {
    margin-right: 20px;
    display: inline-block;
    vertical-align: middle;
    font-size: 14px;
    color: #c2973c;
}
.feedbacks-all__date:before {
    content: "\f073";
    font: normal normal normal 14px/1 FontAwesome;
    margin-right: 5px;
}
.feedbacks-all__title {
    font-size: 24px;
    font-weight: bold;
    line-height: 2.08;
    letter-spacing: 0.8px;
    color: #4a4a4a;
    padding-top: 0;
    margin-top: 0;
}
.feedbacks-all__title:after {
    content: "";
    display: block;
    width: 30px;
    height: 2px;
    background-color: #c2973c;
    margin-bottom: 18px;
}
.feedbacks-all__name {
    margin-right: 20px;
    display: inline-block;
    vertical-align: middle;
    font-style: normal;
    font-size: 14px;
    color: #c2973c;
}
.feedbacks-all__name:before {
    content: "\f189";
    font: normal normal normal 14px/1 FontAwesome;
    margin-right: 5px;
}
/*

.owl-carousel .owl-item img {
    display: inline-block;
    vertical-align: middle;
    max-height: 237px;
    max-width: 237px;
}

.owl-carousel .owl-dot {
    width: 14px;
    height: 14px;
    border:1px solid $pinkish-grey;
    border-radius: 50%;
    background-color: #fff;
    margin: 0 7px;
    display: inline-block;
    vertical-align: middle;
}

.owl-carousel .owl-dot.active {
    background-color: $pinkish-grey;
}


.owl-dots{
    text-align: center;
}


.owl-nav{
    font-size: 20px;
    width: 100%;
    position: absolute;
    left: 0;
    top: 45%;
    font-size: 40px;
}


.owl-prev{
    position: absolute;
    left: 10px;
    transform: rotate(180deg);
}

.owl-next{
    position: absolute;
    right: 10px;

}

.owl-carousel .owl-stage-outer{
    min-height: 240px;
}

*/
/*
.owl-next, .owl-prev{
    width: 55px;
    height: 55px;
    border-radius:50%;
    background-color: #fff;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
    background-image:url('../img/svg/chevron-right.svg');
    background-repeat: no-repeat;
    background-position: 50%;
}
*/
.video {
    min-height: 300px;
    padding: 20px 0;
    position: relative;
    z-index: 10;
}
.video .owl-dots {
    text-align: center;
}
.video .owl-dot {
    width: 14px;
    height: 14px;
    border: 2px solid #bebebe;
    border-radius: 50%;
    background-color: transparent;
    margin: 0 7px;
    display: inline-block;
    vertical-align: middle;
    margin-top: 10px;
}
.video .owl-dot.active {
    background-color: #bebebe;
}
.video iframe {
    margin: 0 auto;
    display: block;
    height: 270px;
    width: 455px;
    border: 2px solid #c2973c;
    border-radius: 3px;
    background-size: cover;
    margin-bottom: 50px;
}
.links {
    font-size: 15px;
}
.links p {
    margin-bottom: 10px;
    font-size: 20px;
}
.links ul {
    margin-left: 0;
    padding-left: 0;
    list-style: none;
}
.links li {
    margin-bottom: 5px;
    display: inline-block;
    vertical-align: middle;
    width: 33%;
}
.links__title {
    font-size: 24px;
    font-weight: 700;
    line-height: 2.08;
    letter-spacing: .8px;
    color: #4a4a4a;
    padding-top: 0;
    margin-top: 0;
    margin-bottom: 20px;
    text-transform: none;
}
.links__title:after {
    content: "";
    display: block;
    width: 30px;
    height: 2px;
    background-color: #c2973c;
    margin-bottom: 18px;
}
.order {
    position: relative;
    min-height: 210px;
    background-image: url("../img/parallax-cv.jpg");
    background-attachment: fixed;
    background-position: 40% 20%;
    background-size: cover;
}
.order:before {
    content: "";
    min-height: 100%;
    background-image: url("../img/overlay.png");
    overflow: hidden;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.txt-block p {
    margin-bottom: 10px;
    font-size: 16px;
}
.txt {
    padding: 30px 0 50px 0;
    color: #777;
    font-size: 16px;
    min-width: 970px;
}
.txt h1 {
    position: relative;
    color: #25383B;
    font-weight: bold;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    margin-bottom: 25px;
}
.txt h1:after {
    content: '';
    display: block;
    position: absolute;
    background-color: #c2973c;
    bottom: -7px;
    left: 0;
    width: 25px;
    height: 2px;
}
.txt h2 {
    position: relative;
    color: #c2973c;
    font-size: 18px;
    letter-spacing: 0.1em;
    font-weight: bold;
    margin-bottom: 30px;
}
.txt h2 a {
    color: #4a4a4a;
}
.txt h2:after {
    content: '';
    display: block;
    position: absolute;
    background-color: #c2973c;
    bottom: -7px;
    left: 0;
    width: 25px;
    height: 2px;
}
.txt a {
    text-decoration: none;
    color: #c2973c;
    transition: color 0.5s;
}
.txt a:hover {
    color: #b61d83;
}
.txt p {
    color: #777;
    font-size: 16px;
    font-weight: normal;
    margin-bottom: 25px;
    line-height: 25px;
    text-align: justify;
}
.txt ul {
    list-style: none;
    padding-left: 0;
    font-size: 16px;
    margin-bottom: 20px;
}
.txt ul li {
    font-size: 16px;
}
.txt ul li:before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 5px;
    height: 5px;
    background-color: #c2973c;
    border: 1px solid #c2973c;
    margin-right: 10px;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
}
.txt .gallery-columns-4 {
    font-size: 0;
}
.txt .gallery-columns-4 .gallery-item {
    display: inline-block;
    vertical-align: top;
    width: 25%;
    padding: 0 5px;
}
.txt .gallery-columns-4 .gallery-item img {
    width: 100%;
    height: auto;
    border: 1px solid #c2973c;
    border-radius: 4px;
}
.txt .gallery-columns-4 .gallery-caption {
    font-size: 12px;
    text-align: center;
}
.txt--extra {
    padding: 30px 0 30px 0;
    position: relative;
}
.txt--extra:after {
    content: "";
    background-image: url(../img/machine.png);
    background-size: cover;
    position: absolute;
    margin: auto;
    width: 40px;
    height: 40px;
    bottom: 25px;
    right: 25px;
}
.link-list {
    padding: 70px 0;
}
.link-list .left-list {
    margin-left: 20px;
}
.link-list ol {
    margin: 0;
    padding: 0;
}
.link-list ol li {
    margin-bottom: 20px;
    font-size: 18px;
    font-weight: normal;
}
.link-list ol li a {
    line-height: 1.17;
    color: #4a4a4a;
    transition: color 0.5s;
}
.link-list ol li a:hover {
    color: #4a90e2;
}
.link-list__title {
    font-size: 36px;
    font-weight: bold;
    line-height: 1.17;
    letter-spacing: 0.8px;
    color: #4a4a4a;
}
.link-list__sub-title {
    font-size: 24px;
    font-weight: normal;
    line-height: 1.75;
    letter-spacing: 0.5px;
    color: #4a4a4a;
    margin-bottom: 50px;
}
.link-list__img img {
    width: 100%;
}
.see-more {
    padding: 40px 0;
}
.see-more ul {
    margin: 0;
    padding: 0;
    font-size: 0;
}
.see-more ul li {
    display: inline-block;
    vertical-align: middle;
    width: 33%;
    margin-bottom: 7px;
}
.see-more ul li a {
    text-decoration: none;
    color: #4a4a4a;
    font-size: 15px;
    transition: color 0.5s;
}
.see-more ul li a:hover {
    color: #4a90e2;
}
.see-more__title {
    font-size: 24px;
    font-weight: bold;
    line-height: 2.08;
    letter-spacing: 0.8px;
    color: #4a4a4a;
    padding-top: 0;
    margin-top: 0;
}
.see-more__title:after {
    content: "";
    display: block;
    width: 30px;
    height: 2px;
    background-color: #c2973c;
    margin-bottom: 18px;
}
.see-more--2 ul li {
    width: 50%;
}
.four-o-four {
    padding: 50px 0;
}
.four-o-four p {
    margin: 0;
    font-size: 17px;
    color: #000;
}
.txt .signature {
    text-align: right;
}
.txt .signature span {
    display: block;
    color: #c2973c;
    font-style: italic;
}
.txt .swork {
    text-align: right;
    color: #c2973c;
    font-style: italic;
}
.txt .gold {
    color: #c2973c;
}
.galery {
    padding-bottom: 50px;
}
.galery h2 {
    margin-bottom: 60px;
}
.galery__img {
    position: relative;
    margin-bottom: 20px;
    height: auto;
}
.galery__img img {
    width: 100%;
    height: auto;
}
.galery__img:hover .galery__img-l {
    transition: all .5s;
    left: 4%;
    top: 4%;
    height: 92%;
    z-index: 10;
}
.galery__img:hover .galery__img-r {
    transition: all .5s;
    right: 4%;
    top: 4%;
    height: 92%;
    z-index: 10;
}
.galery__img:hover:before {
    font-size: 30px;
    right: 30px;
    bottom: 30px;
}
.galery__img:before {
    content: "\f00e";
    position: absolute;
    right: 10px;
    bottom: 10px;
    color: #c2973c;
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: 20px;
    transition: all .5s;
    z-index: 10;
}
.galery__img-l {
    position: absolute;
    width: 3px;
    background-color: #c2973c;
    left: 0;
    top: 0;
    height: 100%;
    z-index: 10;
}
.galery__img-l:before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    background-color: #c2973c;
    position: absolute;
    top: 0%;
    left: 0;
    width: 16px;
    height: 3px;
}
.galery__img-l:after {
    content: "";
    display: inline-block;
    vertical-align: middle;
    background-color: #c2973c;
    position: absolute;
    bottom: 0%;
    left: 0;
    width: 16px;
    height: 3px;
}
.galery__img-r {
    position: absolute;
    width: 3px;
    right: 0%;
    top: 0%;
    height: 100%;
    background-color: #c2973c;
    z-index: 10;
}
.galery__img-r:before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    background-color: #c2973c;
    position: absolute;
    top: 0%;
    right: 0px;
    width: 16px;
    height: 3px;
}
.galery__img-r:after {
    content: "";
    display: inline-block;
    vertical-align: middle;
    background-color: #c2973c;
    position: absolute;
    bottom: 0%;
    right: 0px;
    width: 16px;
    height: 3px;
}
.galery__desc {
    font-size: 14px;
}
.galery__title {
    font-size: 14px;
    color: $blue-basic;
}
.galery__link {
    color: #c2973c;
    display: inline-block;
    vertical-align: middle;
    background-color: #fff;
    padding: 20px 30px;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1px;
    border-radius: 2px;
    font-size: 14px;
    border: 2px solid #c2973c;
    margin-top: 20px;
    transition: all 0.4s;
    position: relative;
}
.galery__link:hover {
    background-color: #c2973c;
    color: #fff;
    text-decoration: none;
    border: 2px solid #c2973c;
}
.portfolio-filters {
    margin-bottom: 40px;
}
.portfolio-filters span {
    display: inline-block;
    vertical-align: middle;
    padding: 10px 20px;
    margin: 0 10px;
    margin-bottom: 20px;
    border: 1px solid #000;
    font-size: 18px;
    background-color: #c2973c;
    color: #fff;
    cursor: pointer;
    transition: all .3s;
}
.portfolio-filters span:hover {
    text-decoration: none;
    background-color: #fff;
    color: #c2973c;
}
.single-work {}
.single-work__content {
    width: 500px;
    height: auto;
    margin: auto;
    border: 4px solid #c2973c;
    margin-bottom: 20px;
}
.single-work__content img {
    display: inline-block;
    height: auto;
    width: 100%;
}
.single-work__info {
    padding: 20px;
    font-size: 16px;
}
.single-work__info a {
    text-decoration: underline;
}
.single-work__links {
    text-align: center;
}
.single-work__links a {
    display: inline-block;
    cursor: pointer;
    padding: 5px 10px;
}
.single-work__links-portfolio {
    position: relative;
    letter-spacing: 0.3em;
    padding: 20px;
    padding-left: 81px;
    margin-bottom: 40px;
    border: 2px solid #c2973c;
}
.single-work__links-nav a .fa {
    margin: 0 5px;
}
.single-work__links-nav a:first-child {
    float: left;
}
.single-work__links-nav a:last-child {
    float: right;
}
.fa-users {
    font-size: 160px;
    color: #c2973c;
    margin-top: 20px;
}
.work-process {
    padding-bottom: 50px;
    padding-top: 50px;
    text-align: center;
    color: #4a4a4a;
    min-width: 970px;
}
.work-process h2 {
    text-align: center;
}
.offer {
    position: fixed;
    z-index: 1001;
    top: 200px;
    right: 0;
    min-height: 144px;
    background-color: #b61d83;
    border: 2px solid #fff;
    border-right: none;
    transition: all 0.4s;
    overflow: hidden;
    //: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #b61d83);
    //: 400% 400%;
    font-size: 0;
    width: 35px;
}
.offer__front {
    display: inline-block;
    vertical-align: top;
    width: 35px;
    min-height: 140px;
    position: absolute;
    right: 0;
    top: 0;
    cursor: pointer;
    transition: all 0.4s;
}
.offer__front:hover {
    background-color: rgba(182,29,31, 0.4);
}
.offer__front:hover .diamond .background {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
}
.offer__back {
    display: inline-block;
    vertical-align: top;
    width: 0;
    height: 140px;
    border: 1px solid #b61d83;
    overflow: hidden;
    padding: 5px;
    padding-top: 25px;
    color: #fff;
    text-align: center;
    -webkit-transform: translateX(35px);
            transform: translateX(35px);
    background-color: #fff;
}
.offer__back-txt p {
    margin-bottom: 10px;
    font-size: 16px;
    color: #999;
    line-height: initial;
}
.offer__back-txt span {
    color: #b61d83;
}
.offer__back-txt .gold {
    color: #c2973c;
}
.offer__back-txt a {
    font-size: 16px;
}
.offer__back-counter {
    font-size: 30px;
    color: #000;
}
.offer__title {
    color: #b61d83;
    font-weight: bold;
    font-size: 15px;
    letter-spacing: 1px;
    margin-bottom: 15px;
    text-transform: uppercase;
}
.offer__img {
    width: 35px;
    height: 37px;
    color: #fff;
    position: relative;
    border-bottom: 1px solid #fff;
    padding-bottom: 5px;
    margin-bottom: 13px;
}
.offer__img .diamond {
    width: 100%;
    height: 35px;
}
.offer__img .diamond .background {
    width: 20px;
    height: 20px;
    border: 1px solid #fff;
    top: 7px;
    right: 6px;
    left: inherit;
    background-color: #b61d83;
    transition: all 0.4s;
    -webkit-animation: rotate 8s linear infinite;
            animation: rotate 8s linear infinite;
}
.offer__img .diamond .icon {
    width: 18px;
    height: 18px;
    top: 11px;
    right: 4px;
    left: inherit;
}
.offer__img .diamond .icon .fa {
    position: absolute;
    left: 0;
    top: 0;
    font-size: 10px;
}
.offer__txt {
    color: #fff;
    font-size: 16px;
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
    letter-spacing: 3px;
    text-transform: uppercase;
    position: absolute;
    right: -19px;
    top: 75px;
    font-weight: bold;
}
.offer-img {
    padding-top: 50px;
}
.offer-img img {
    width: 100%;
}
.offer--open {
    width: 300px;
}
.offer--open .offer__back {
    width: 264px;
    -webkit-transform: translateX(0);
            transform: translateX(0);
}
.offer:after {
    content: "";
    position: absolute;
    top: -110%;
    left: -210%;
    width: 200%;
    height: 200%;
    opacity: 0;
    -webkit-transform: rotate(30deg);
            transform: rotate(30deg);
    -webkit-animation: glare 5s ease infinite;
            animation: glare 5s ease infinite;
    background: rgba(255, 255, 255, 0.13);
    background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0.13) 0%,
    rgba(255, 255, 255, 0.13) 77%,
    rgba(255, 255, 255, 0.5) 92%,
    rgba(255, 255, 255, 0.0) 100%
  );
}
.offer:active:after {
    opacity: 0;
}
@-webkit-keyframes glare {
    0% {
        top: -110%;
        left: -210%;
        opacity: 0;
    }
    20%, 100% {
        top: -30%;
        left: 200%;
        opacity: 1;
    }
}
@keyframes glare {
    0% {
        top: -110%;
        left: -210%;
        opacity: 0;
    }
    20%, 100% {
        top: -30%;
        left: 200%;
        opacity: 1;
    }
}
@-webkit-keyframes Gradient {
    0% {
        background-position: 50% 0%;
    }
    50% {
        background-position: 50% 100%;
    }
    100% {
        background-position: 50% 0%;
    }
}
@keyframes Gradient {
    0% {
        background-position: 50% 0%;
    }
    50% {
        background-position: 50% 100%;
    }
    100% {
        background-position: 50% 0%;
    }
}
@-webkit-keyframes rotate {
    0% {
        -webkit-transform: rotate(0deg);
                transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
                transform: rotate(360deg);
    }
}
@keyframes rotate {
    0% {
        -webkit-transform: rotate(0deg);
                transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
                transform: rotate(360deg);
    }
}
.header .fa-phone {
    margin-top: 18px;
    font-size: 25px;
}
.header-tel {
    font-size: 25px;
    letter-spacing: 1.2px;
    color: #c2973c;
}
.header-ava {
    width: 134px;
    height: 134px;
    left: 93px;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    overflow: hidden;/* Rotate */
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);/* Rotate Origin */
    -webkit-transform-origin: 0 100%;
    transform-origin: 0 100%;
}
.header-ava img {
    position: absolute;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    width: 142%;
    left: -25px;
    top: -30px;
}
.hero {
    position: relative;
    min-height: 517px;
    background-image: url("../img/hero_3.jpg");
    background-attachment: fixed;
    background-position: 40% 20%;
    background-size: cover;
}
.hero .container {
    overflow: hidden;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
}
.hero h1 {
    font-size: 30px;
    padding: 0;
    margin: 0 -17px;
    min-height: 41px;
    font-weight: 300;
    line-height: 41px;
    letter-spacing: 0.3em;
    text-transform: uppercase;
}
.hero:before {
    content: "";
    min-height: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0,0.6);
}
.cover .one {
    top: -35px;
    left: 20px;
}
.cover .two {
    top: -35px;
    left: 24px;
}
header .top-bar__logo img {
    height: 38px;
}
header .sub-heading a {
    color: #fff;
}
header .fa-phone {
    font-size: 25px;
    margin-top: 8px;
    margin-right: 8px;
}
.footer {
    padding-top: 40px;
    padding-bottom: 10px;
    background-color: #fff;
    min-width: 970px;
}
.footer h3 {
    color: #4a4a4a;
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 15px;
}
.footer h3 a {
    color: #4a4a4a;
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 15px;
}
.footer p {
    margin: 0;
    font-size: 15px;
    letter-spacing: 0.3px;
}
.footer__link {
    display: inline-block;
    vertical-align: middle;
    font-size: 16px;
    letter-spacing: 0.6px;
    transition: all 0.5s;
    text-decoration: none;
}
.footer__link:hover {
    color: #4a4a4a;
}
.footer__name {
    color: #4a4a4a;
    font-size: 16px;
    border-bottom: 1px solid #c2973c;
    padding-bottom: 4px;
    margin-bottom: 5px;
    font-weight: bold;
}
.footer__name:before {
    content: "\f1fc";
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    color: #c2973c;
    margin-right: 8px;
}
.footer__name:hover {}
.footer__name:hover:before {
    -webkit-animation: tada 2s;
            animation: tada 2s;
}
.footer__adress {
    color: #4a4a4a;
    font-size: 16px;
    border-bottom: 1px solid #c2973c;
    padding-bottom: 4px;
    margin-bottom: 5px;
}
.footer__adress div {
    display: inline-block;
    vertical-align: middle;
}
.footer__adress:before {
    content: "\f041";
    display: inline-block;
    vertical-align: middle;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    color: #c2973c;
    font-size: 16px;
    margin-right: 8px;
}
.footer__adress:hover {}
.footer__adress:hover:before {
    -webkit-animation: tada 2s;
            animation: tada 2s;
}
.footer__adress {
    color: #4a4a4a;
    font-size: 16px;
    border-bottom: 1px solid #c2973c;
    padding-bottom: 4px;
    margin-bottom: 5px;
}
.footer__adress div {
    display: inline-block;
    vertical-align: middle;
}
.footer__adress:before {
    content: "\f041";
    display: inline-block;
    vertical-align: middle;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    color: #c2973c;
    font-size: 18px;
    margin-right: 8px;
}
.footer__adress:hover {}
.footer__adress:hover:before {
    -webkit-animation: tada 2s;
            animation: tada 2s;
}
.footer__hours {
    color: #4a4a4a;
    font-size: 16px;
    border-bottom: 1px solid #c2973c;
    padding-bottom: 4px;
    margin-bottom: 5px;
}
.footer__hours div, .footer__hours time {
    display: inline-block;
    vertical-align: middle;
}
.footer__hours:before {
    content: "\f017";
    display: inline-block;
    vertical-align: middle;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    color: #c2973c;
    font-size: 18px;
    margin-right: 8px;
}
.footer__hours:hover {}
.footer__hours:hover:before {
    -webkit-animation: tada 2s;
            animation: tada 2s;
}
.footer__tel {
    border-bottom: 1px solid #c2973c;
    padding-bottom: 4px;
}
.footer__tel a {
    color: #999;
    font-size: 16px;
    display: inline-block;
    vertical-align: middle;
    text-decoration: none;
    font-weight: bold;
}
.footer__tel:before {
    content: "\f095";
    display: inline-block;
    vertical-align: middle;
    margin-right: 8px;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: 18px;
    color: #c2973c;
}
.footer__tel:hover {}
.footer__tel:hover:before {
    -webkit-animation: tada 2s;
            animation: tada 2s;
}
.footer__mail {
    font-size: 16px;
    border-bottom: 1px solid #c2973c;
    padding-bottom: 4px;
    margin-bottom: 5px;
    color: #4a4a4a;
}
.footer__mail a {
    color: #999;
    font-size: 16px;
    display: inline-block;
    vertical-align: middle;
    text-decoration: none;
}
.footer__mail:hover {}
.footer__mail:hover:before {
    -webkit-animation: tada 2s;
            animation: tada 2s;
}
.footer__mail:before {
    content: "\f0e0";
    display: inline-block;
    vertical-align: middle;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    color: #c2973c;
    font-size: 16px;
    margin-right: 8px;
}
.footer__vk {
    font-size: 16px;
    border-bottom: 1px solid #c2973c;
    padding-bottom: 4px;
    margin-bottom: 5px;
    color: #4a4a4a;
}
.footer__vk a {
    color: #999;
    font-size: 16px;
    display: inline-block;
    vertical-align: middle;
    text-decoration: none;
}
.footer__vk:hover {}
.footer__vk:hover:before {
    -webkit-animation: tada 2s;
            animation: tada 2s;
}
.footer__vk:before {
    content: "\f189";
    display: inline-block;
    vertical-align: middle;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    color: #c2973c;
    font-size: 16px;
    margin-right: 8px;
}
.footer__insta {
    font-size: 0;
}
.footer__insta h3 a {
    margin-bottom: 0;
}
.footer__insta a {
    display: inline-block;
    vertical-align: top;
    width: 33.3%;
    padding: 5px;
    padding-bottom: 10px;
    padding-top: 0;
}
.footer__insta a img {
    width: 100%;
}
.footer__insta a:hover {
    opacity: 0.8;
}
.footer__insta-link a {
    color: #999;
    font-size: 16px;
    display: inline-block;
    vertical-align: middle;
    text-decoration: none;
}
.footer__insta-link:hover {}
.footer__insta-link:hover:before {
    -webkit-animation: tada 2s;
            animation: tada 2s;
}
.footer__insta-link:before {
    content: "\f16d";
    display: inline-block;
    vertical-align: middle;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    color: #c2973c;
    font-size: 16px;
    margin-right: 8px;
}
.footer__place span {
    display: block;
    font-size: 16px;
    letter-spacing: 0.3px;
    color: #999;
}
.footer__info {
    font-size: 16px;
}
.footer__info span {
    display: block;
    font-size: 16px;
    letter-spacing: 0.3px;
    color: #999;
    margin-bottom: 5px;
}
.footer__bottom {
    min-width: 970px;
    border-top: 2px solid #c2973c;
    padding-top: 10px;
    text-align: center;
}
.footer__bottom p {
    font-size: 10px;
    margin: 0 -10px;
}

/*
//start adoptive
//VARIABLES
$resolution-mobile:640px;
$wrapper-width-mobile:320px;
$resolution-tablet:980px;
$wrapper-width-tablet:620px;

// TABLET
@media (max-width: $resolution-tablet) and (min-width: $resolution-mobile)
{

        // COMMON

        .col-m-1 {
          width: 8.33333333%;
        }
        .col-m-2 {
          width: 16.66666667%;
        }
        .col-m-3 {
          width: 25%;
        }
        .col-m-4 {
          width: 33.33333333%;
        }
        .col-m-5 {
          width: 41.66666667%;
        }
        .col-m-6 {
          width: 50%;
        }
        .col-m-7 {
          width: 58.33333333%;
        }
        .col-m-8 {
          width: 66.66666667%;
        }
        .col-m-9 {
          width: 75%;
        }
        .col-m-10 {
          width: 83.33333333%;
        }
        .col-m-11 {
          width: 91.66666667%;
        }
        .col-m-12 {
          width: 100%;
        }

        .wrapper
        {
            width:  $wrapper-width-tablet;
        }

        .row{
            margin: 0;
        }

        //HEADER

        .header{
            min-width: $wrapper-width-tablet;
            text-align: center;
            padding: 0;


            .main-nav{
                margin-bottom: 10px;
            }

            .logo{
                float: none;
            }

            &-tel{
                font-size: 18px;
            }

            .tel-btn{
                float: none;
                display: block;
                padding:0 80px 35px 80px;
                &__tel{
                    float: right;
                     margin-right: 25px;
                }
                &__btn{
                    float: left;
                    margin-left: 20px;
                }
            }

        }

        //BODY
        .look{
            min-width: $wrapper-width-tablet;
            background-position-x: -600px;
            margin-top: 130px;
        }

        .advantages{
            min-width: $wrapper-width-tablet;
            padding: 50px 0;
            &__item-txt{
                width: auto;
            }
        }

        .img-wrap-post{
              img{
                width: 500px;
              }
        }


        .numbers{
            min-width: $wrapper-width-tablet;
            padding: 30px 0;
            &__number{
                font-size: 60px;
                margin-bottom: 0;
            }
        }

        .feedbacks{
            min-width: $wrapper-width-tablet;
            padding: 50px 0 0 0;
            &-list__txt{
                width: 250px;
            }

            &-list__img{
                margin-right: 20px;
            }
        }

        .owl-carousel .owl-item img {
            max-height: 150px;
            max-width: 150px;
        }

        .owl-nav{
            top: 20%;
        }

        .owl-prev {
            left: 35px;
        }

        .owl-next{
            right: 35px;
        }

        .owl-dots{
            bottom: 50px;
            position: absolute;
            margin: auto;
            left: 0;
            right: 0;
        }

        .order{
            min-width: $wrapper-width-tablet;
        }

        .prices{
            .prices__del{

                transform: translateX(0);
                del{
                    &:before{
                        top: 12px;
                    }
                    display: block;
                }
            }

            .sale{
                left:50px;
            }
        }


        .steps{
            min-width: $wrapper-width-tablet;
            padding: 30px 0;

            &__txt{
                width: auto;
            }

            .step{
                 &:before{
                    left: 0;
                }
            }

            .step--one{
                &:after{
                    border-left: 40px solid  rgba(194,151,58,0.6);
                }
            }
            .step--two{
                &:after{
                    border-left: 40px solid  rgba(194,151,58,0.6);
                }
            }
        }

        .duality{
            min-width: $wrapper-width-tablet;
            &__bg{
                &:before{
                    width: 100px;
                    height: 99px;

                }
                &:after{
                    width: 130px;
                    height: 125px;
                    left: 0;
                    top: 100px;
                }
            }
        }

        .about-team{
            min-width: $wrapper-width-tablet;
            ul {
                span{
                    font-size: 10px;
                }
                p{
                    font-size: 9px;
                }
            }
        }

        .form-extra{
            min-width: $wrapper-width-tablet;
            div.wpcf7 img.ajax-loader {
                display: block;
            }

            form div.wpcf7-validation-errors{
                color: $dark-sky-blue;
            }
        }

        .service-menu{
            min-width: $wrapper-width-tablet;

            &__link p{
                font-size: 16px;
            }

            &__link--first{
                background-position-x: -140px;
            }

            &__link--second{
                background-position-x: -180px;
            }

            &__link--third{
                background-position-x: -130px;
            }

            &__link--fourth{
                background-position-x: -230px;
            }

        }

        .service-txt{
            min-width: $wrapper-width-tablet;
        }

        .faq{
             min-width: $wrapper-width-tablet;
             &__title{
                font-size: 25px;
                margin-bottom: 32px;
             }

             li{
                padding-right: 10px;
                width: 100%;
                &:before{
                    display: none;
                }
             }

             &__a{
                padding-left: 0;
             }

             &__q p{
                font-size: 15px;
             }

        }

        .feedbacks-all{
            min-width: $wrapper-width-tablet;
            ul{
                width: 100%;
            }
        }

        .feedback-form{
            min-width: $wrapper-width-tablet;
            padding: 30px 0;

            #wpcf7-f295-o1 .text-288{
                width: 100%;
                float: none;
                margin-bottom: 10px;
                input{
                    width: 100%;
                }
            }

            #wpcf7-f295-o1 .text-61{
                width: 100%;
                float: none;

                input{
                    width: 100%;
                }
            }
        }

        .service-company{
            min-width: $wrapper-width-tablet;

            &__list li{
                width: 150px;
                border-top:none!important;
                border-left:none!important;
                &:nth-child(-n+4) {
                    border-top: 1px solid #bebebe!important;
                }

                &:nth-child(4n+1) {
                    border-left: 1px solid #bebebe!important;
                }
            }
        }

        .txt{
            min-width: $wrapper-width-tablet;
        }

        .see-more{
            min-width: $wrapper-width-tablet;
            &__title{
                line-height: normal;
            }
            li{
                width: 50%;
            }
        }

        .team{
            min-width: $wrapper-width-tablet;

            &__img{
                img{
                    height: auto;
                }
            }

            ul{
                li{
                    width: 50%;
                }
            }

        }



        .feedback-form input[type=submit]{
            float: none;
            display: block;
        }

        .footer
        {
            min-width: $wrapper-width-tablet;
            text-align: center;
            &__tel{
                &__before{
                    content: "";
                }
            }
            &__link{
                font-size: 18px;
                margin-bottom: 5px;
            }
            p{
                font-size: 15px;
            }

            .col-m-6:nth-child(-n+2){
                margin-bottom: 20px;
            }
        }

        .footer__bottom
        {
            min-width: $wrapper-width-tablet;

            p{
                font-size: 10px;
            }
        }

        // FIX FOR THE MENU

        .blog-post{
            text-align: center;
            .group{
                position: static;
                display: inline-block;
            }

            .content   {
                position: static;
                 display: inline-block;
                 text-align: left;
            }



        }

        .blog-post.on-the-left {
             .content   {
               padding-left: 0;
            }
            .info{
                .arrow{
                    top: auto;
                    bottom: -12px;
                    right: auto;
                    left: 50px;
                    border-right: transparent 30px solid;
                    border-bottom: 0;
                    border-left: transparent 30px solid;
                    border-top: $gold 12px solid;
                }
            }
        }

        .blog-post.on-the-right {

            .info{
                .arrow{
                    top: auto;
                    bottom: -12px;
                    right: auto;
                    left: 50px;
                    border-right: transparent 30px solid;
                    border-bottom: 0;
                    border-left: transparent 30px solid;
                    border-top: $gold 12px solid;
                }
            }
        }

}

// MOBILE
@media (max-width: $resolution-mobile)
{


        // COMMON

        .line{
            margin: 0;
        }

        .col-s-1 {
          width: 8.33333333%;
        }
        .col-s-2 {
          width: 16.66666667%;
        }
        .col-s-3 {
          width: 25%;
        }
        .col-s-4 {
          width: 33.33333333%;
        }
        .col-s-5 {
          width: 41.66666667%;
        }
        .col-s-6 {
          width: 50%;
        }
        .col-s-7 {
          width: 58.33333333%;
        }
        .col-s-8 {
          width: 66.66666667%;
        }
        .col-s-9 {
          width: 75%;
        }
        .col-s-10 {
          width: 83.33333333%;
        }
        .col-s-11 {
          width: 91.66666667%;
        }
        .col-s-12 {
          width: 100%;
        }

        .wrapper
        {
            width:  $wrapper-width-mobile;
            padding: 10px;
            margin: auto;
        }

        header{
            .fa-phone{
                display: none;
            }
            .diamond{
                display: none;
            }

            .top-bar__logo{
                img{
                    width: 130px;
                }
            }

            .header-tel{
                font-size: 18px;
            }

            .hero-heading{

                font-size: 16px;
                line-height: 21px;

                h1{
                    font-size: 20px;
                    line-height: 21px;
                }

                &:before{
                    left: 0;
                    right: 0;
                    width: 80%;
                    margin: 0 auto;
                }

                &:after{
                    left: 0;
                    right: 0;
                    width: 80%;
                    margin: 0 auto;
                }

                .hero-subheading{
                    font-size: 14px;
                }
            }
        }

        .hero{
            background-attachment: initial;
        }

        .order{
            background-attachment: initial;
        }

        .feed{
            background-attachment: initial;
        }


        .header{
            min-width: $wrapper-width-mobile;
            padding: 0;
            .logo{
                float: none;
                display: inline-block;
                vertical-align: middle;
            }

            .nav-toggle{
                display: inline-block;
            }

            .main-nav{
                display: none;
                ul{
                    display: inline-block;
                    vertical-align: middle;
                }
                li{
                    display: block;
                }
            }

            &-tel{
                font-size: 12px;
                padding-top: 2px;
            }

            .tel-btn{
                float: none;
                margin-bottom: 10px;
            }

            .tel-btn__tel{
                margin-bottom: 10px;
            }

            .tel-btn__btn{
                font-size: 16px;

            }
        }

        // MAIN

        .hero{
            .container{
                overflow: visible;
            }
        }

        .img-wrap-post{
              img{
                width: 280px;
              }
        }

        .look{
            min-width: $wrapper-width-mobile;
            margin-top: 120px;
            padding-top: 10px;
            background-position: -500px 0;
            padding-bottom: 0;

            &__title{
                font-size: 20px;
            }
            &__txt{
                margin-bottom: 10px;
            }
        }

        .advantages{
            min-width: $wrapper-width-mobile;
            padding:30px 0;

            .hero-heading{
                font-size: 22px;
            }

            &__item{
                margin-bottom: 20px;

                &:before{
                    margin-bottom: 10px;
                }
            }
        }

        .work-process{
            min-width: initial;
        }

         .prices{
            .prices__del{

                transform: translateX(0);
                del{
                    &:before{
                        top: 12px;
                    }
                    display: block;
                }
            }

            .sale{
                left:38px;
                top: -10px;
            }
        }

        .numbers{
            min-width: $wrapper-width-mobile;
            padding: 10px 0;
            &__number{
                margin-bottom: 0;
            }
            &__txt{
                margin-bottom: 15px;
                width: auto;
            }
        }

        .feedbacks{
            min-width: $wrapper-width-mobile;
            padding: 20px 0;
            &-list{
                padding: 10px;

                &__img{
                    margin-right: 0;
                }
                &__name{
                    display: block;
                    max-width: 300px;
                }
                &__txt{
                    width: auto;
                    max-width: 300px;
                }
            }
            li{
                text-align: center;
            }
            .owl-carousel .owl-item img{
                max-width: 150px;
                max-height: 150px;
                margin-bottom: 10px;
            }
            .owl-nav{
                display: none;
            }
            blockquote{
                margin: 0;
            }
        }

        .steps{
            min-width: $wrapper-width-mobile;
            padding: 30px 0;

            &:hover{
               .step{
                    &:after{
                        animation:go-go-down 1s ease-out infinite alternate;
                    }
                }
            }
            .step{
                margin-bottom: 70px;
                &--one:after{
                    bottom: -80px;
                    top: inherit;
                    left: 40%;
                    border: 25px solid transparent;
                    border-top: 40px solid rgba(194,151,58,0.6);
                    width: 0px;
                }

                &--two:after{
                    bottom: -80px;
                    top: inherit;
                    left: 40%;
                    border: 25px solid transparent;
                    border-top: 40px solid rgba(194,151,58,0.6);
                    width: 0px;

                }
            }
        }

        .order{
             min-width: $wrapper-width-mobile;
             padding-top: 30px;
        }

        .duality{
                min-width: $wrapper-width-mobile;
                padding-bottom: 200px;

            &__bg{
                &:before{
                    width: 100px;
                    height: 99px;
                    top: 0;
                    left: 50px;
                }
                &:after{
                    width: 130px;
                    height: 125px;
                    left: 140px;
                    bottom: 100px;
                }
            }
        }

        .about-team{
            min-width: $wrapper-width-mobile;
            ul{
                span{
                    font-size: 10px;
                }
                p{
                    font-size: 11px;
                }
                li{
                    width: 50%;
                }
            }
        }

        .popup form{
            width: 380px;
        }

        .form-extra{
            min-width: $wrapper-width-mobile;
            div.wpcf7 img.ajax-loader {
                display: block;
            }
            &__sub-title{
                font-size: 17px;
                margin-bottom: 20px;
            }

            form div.wpcf7-validation-errors{
                color: $dark-sky-blue;
            }

        }

        .certificate{
             .hero-heading{
                font-size: 22px;
            }
        }


        .service-menu{
            min-width: $wrapper-width-mobile;
            padding-bottom: 0;
            &__link{
                p{
                    font-size: 16px;
                }
            }
            &__link--first{
                background-position-x: -140px;
            }

            &__link--second{
                background-position-x: -180px;
            }

            &__link--third{
                background-position-x: -130px;
            }

            &__link--fourth{
                background-position-x: -230px;
            }
        }

        .faq{
             min-width: $wrapper-width-mobile;
             &__title{
                font-size: 25px;
                margin-bottom: 32px;
             }

             ul{
                width: 100%;
             }

             li{
                width: 100%;
                &:before{
                    display: none;
                }
             }

             &__a{
                padding-left: 0;
             }

             &__q p{
                font-size: 15px;
             }
        }

        .feed{
            .testimonials-box__links{
                right: 0;
                left: 0;
                width: 180px;
                margin: auto;
                bottom: 10px;
            }
        }


        .feedbacks-all{
            min-width: $wrapper-width-mobile;
            ul{
                    width: 100%;
            }

            &__info{
                img{
                    width: 65px;
                    height: 65px;
                }
            }

            blockquote{
                padding-top: 0;
            }
        }

        .feedback-form{
            min-width: $wrapper-width-mobile;
            padding: 30px 0;

             #wpcf7-f295-o1 .text-288{
                width: 100%;
                float: none;
                margin-bottom: 10px;
                input{
                    width: 100%;
                }
            }

            #wpcf7-f295-o1 .text-61{
                width: 100%;
                float: none;

                input{
                    width: 100%;
                }
            }
        }

        #wpcf7-f295-o1 span.wpcf7-list-item {
            width: 100%;
        }

        .feedback-form input[type=submit]{
            float: none;
            display: block;
        }

        .service-txt{
             min-width: $wrapper-width-mobile;
             line-height: normal;
        }

       .service-company{
           min-width: $wrapper-width-mobile;

           &__list li{
               width: 116px;
               border-top:none!important;
               border-left:none!important;
               &:nth-child(-n+3) {
                   border-top: 1px solid #bebebe!important;
               }

               &:nth-child(3n+1) {
                   border-left: 1px solid #bebebe!important;
               }
           }
        }

        .txt{
            min-width: $wrapper-width-mobile;
        }

        .see-more{
            min-width: $wrapper-width-mobile;
            &__title{
                line-height: normal;
            }

            li{
                width: 100%;
            }
            &--2{

                li{
                    width: 100%;
                }
            }
        }

        .team{
             min-width: $wrapper-width-mobile;
            ul{
                li{
                    width: 100%;
                }
            }

             &__img{
                img{
                    height: auto;
                }
            }
        }

        .video{
            iframe{
                width: 300px;
            }
        }

        .footer{
            min-width: $wrapper-width-mobile;
            text-align: center;

            &__link{
                font-size: 18px;
                margin-bottom: 5px;
            }
            p{
                font-size: 15px;
            }

            &__tel{
                font-size: 16px;
                margin:0 auto;
                &:before{
                   display: none;
                }
            }

            &__insta{
                h3{
                    a{
                        width: 100%;
                    }

                }
            }

            .col-m-6:nth-child(-n+2){
                margin-bottom: 20px;
            }
        }

        .footer__bottom
        {
            min-width: $wrapper-width-mobile;
            font-size: 12px;
            p{
                font-size: 10px;
            }
        }


        .blog-post{
            text-align: center;
            .group{
                position: static;
                display: inline-block;
            }

            .content   {
                position: static;
                 display: inline-block;
                 text-align: left;
            }
        }

        .blog-post.on-the-left {
             .content   {
               padding-left: 0;
            }

            .info{
                    .arrow{
                        top: auto;
                        bottom: -12px;
                        right: auto;
                        left: 50px;
                        border-right: transparent 30px solid;
                        border-bottom: 0;
                        border-left: transparent 30px solid;
                        border-top: $gold 12px solid;
                    }
                }
        }

         .blog-post.on-the-right {

                .info{
                    .arrow{
                        top: auto;
                        bottom: -12px;
                        right: auto;
                        left: 50px;
                        border-right: transparent 30px solid;
                        border-bottom: 0;
                        border-left: transparent 30px solid;
                        border-top: $gold 12px solid;
                    }
                }
        }
}

@media (max-width: 520px){

    .blog-post{
        .content {
            width: auto;
        }
        .info{
            display: block;
            width: 100%;

            .stat{
                font-size: 17px;
            }
        }
    }

     .flickr-widget {
        text-align: center;
    }

}


@media (max-width: 980px) and (min-width: 770px)
{

    .nav > li:nth-child(3) {
        margin-left: 0;
    }

    .collapse.navbar-collapse{
        padding: 0;
    }

    .navbar > .container .navbar-brand{
        display: none;
    }
}

@media (max-width: 770px)
{

    .nav > li:nth-child(3) {
        margin-left: 0;
    }

    .collapse.navbar-collapse{
        padding: 0;
    }

    .navbar > .container .navbar-brand{
        display: none;
    }

    .navbar-collapse.in {
        overflow-y: inherit;
    }

    .nav {
        width: 100%;
        height: auto;
    }

    .navbar {
        height: auto;
        li{
            text-align: center;
        }
    }

    .nav > li > a, .nav > li > a:hover, .nav > li > a:focus, .nav > li > a:visited, .nav > li > a:active {
        width: auto;
    }

}
*/
.blog-post .info {
    position: relative;
    padding: 40px 10px 0 10px;
    text-align: center;
}
.fa-book {
    color: #fff;
}
/*header картинки команды*/
.flickr-widget-item img {
    width: 100%;
    height: auto;
}
/*header отзывы*/
.roller p.small.condensed {
    padding-top: 5px;
}
.testimonials-name {
    display: block;
    padding: 5px;
    color: #000;
    transition: color 0.4s;
}
.testimonials-name:visited {
    color: #000;
}
.testimonials-name:hover, .testimonials-name:active, .testimonials-name:focus {
    color: #fff;
}
.testimonials-img {
    margin-left: 30px;
    float: right;
}
.testimonials-img img {
    width: 100px;
    height: 100px;
    border-radius: 100%;
    border: #fff 5px solid;
}
.hero-heading.section-heading-my .tl, .hero-heading.section-heading-my .tr {
    top: -10px;
    height: 20px;
}
.hero-heading.section-heading-my .bl, .hero-heading.section-heading-my .br {
    bottom: -10px;
    height: 20px;
}
.hero-heading.section-heading-my a {
    font-size: 25px;
    color: #c2973c;
    transition: color .4s;
}
.hero-heading.section-heading-my a:hover {
    color: #fff;
    text-decoration: none;
}
.hero-heading.section-heading-my:before {
    top: -10px;
}
.hero-heading.section-heading-my:after {
    bottom: -10px;
}
.sub-heading a {
    display: inline-block;
    vertical-align: middle;
    letter-spacing: 0.1em;
    color: #333;
    transition: color .4s;
}
.sub-heading a:hover {
    color: #c2973c;
}
h1.section-heading {
    font-weight: normal;
}
/*Чтобы навигация не перекрывала галлрею*/
.navbar {
    z-index: 1000;
}
/*Чтобы автарка перекрывала надпись мастер татуажа*/
.cover {
    z-index: 1001;
}
.diamond .background {
    box-shadow: 2px 0 2px rgba(0,0,0,0.5);
}
/*Чтобы картинка в меню занимала всю ширину*/
.blog-post-small__img img {
    width: 100%;
}
/*Чтобы был красивый эффект при наведении*/
.blog-post {
    position: relative;
}
.blog-post .image {
    overflow: hidden;
}
.blog-post .image img {
    width: 100%;
    transition: all 0.5s;
    height: auto;
}
.blog-post .sale {
    position: absolute;
    z-index: 2;
    top: 10px;
    left: 10px;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 2px;
    padding: 6px 20px 6px 10px;
    color: #fff;
    text-transform: uppercase;
    background-color: #b61d83;
    text-shadow: 0px 1px 2px #bbb;
    box-shadow: 0px 2px 4px #888;
}
.blog-post .sale:after {
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    right: 0px;
    top: 100%;
    border-width: 5px 10px;
    border-style: solid;
    border-color: #000 transparent transparent  #000;
}
.blog-post .sale:before {
    content: ' ';
    position: absolute;
    width: 40px;
    height: 0;
    right: -20px;
    top: 12px;
    border-width: 16px 8px;
    border-style: solid;
    border-color: #b61d83 transparent #b61d83 #b61d83 ;
}
.blog-post-small {
    overflow: hidden;
    position: relative;
}
.blog-post-small .image {
    transition: all 0.5s;
}
.blog-post-small .image img {
    width: 100%;
    display: inline-block;
    vertical-align: middle;
    height: auto;
}
.blog-post-small .sale {
    position: absolute;
    top: 10px;
    right: 30px;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 2px;
    padding: 6px 20px 6px 10px;
    color: #fff;
    text-transform: uppercase;
    background-color: #b61d83;
    text-shadow: 0px 1px 2px #bbb;
    box-shadow: 0px 2px 4px #888;
}
.blog-post-small .sale:after {
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    right: 0px;
    top: 100%;
    border-width: 5px 10px;
    border-style: solid;
    border-color: #000 transparent transparent  #000;
}
.blog-post-small .sale:before {
    content: ' ';
    position: absolute;
    width: 40px;
    height: 0;
    right: -20px;
    top: 12px;
    border-width: 16px 8px;
    border-style: solid;
    border-color: #b61d83 transparent #b61d83 #b61d83 ;
}
.scale {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
}
.wsp-category-title {
    display: none;
}
.js-open-popup {
    cursor: pointer;
}
ul.owl-carousel {
    padding: 0;
}
.blog-post-small .info .stat {
    font-size: 14px;
    font-weight: bold;
}
.blog-post .info .stat {
    font-size: 14px;
    font-weight: bold;
}
.form-extra .wpcf7-response-output.wpcf7-mail-sent-ok {
    color: #000;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 20;
    background: #fff;
    padding: 10px;
    border: 2px solid #b61d83;
    max-width: 290px;
    top: 5px;
    font-size: 15px;
    border-radius: 10px;
    background-color: #b61d8312;
}
.form-extra .screen-reader-response {
    font-size: 0;
}
.hero.piter {}
/*# sourceMappingURL=style.css.map */
